/**
 * @file
 * Generic theme-independent base styles.
 */
/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
/* line 13, ../lib/neatstart/core/_system.base.scss */
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

/* line 19, ../lib/neatstart/core/_system.base.scss */
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 25, ../lib/neatstart/core/_system.base.scss */
#autocomplete li {
  background: #fff;
  color: #000;
  cursor: default;
  white-space: pre;
  zoom: 1;
  /* IE7 */
}

/* Animated throbber */
/* line 33, ../lib/neatstart/core/_system.base.scss */
html.js input.form-autocomplete {
  background-image: url(../../misc/throbber.gif);
  background-position: 100% 2px;
  /* LTR */
  background-repeat: no-repeat;
}

/* line 38, ../lib/neatstart/core/_system.base.scss */
html.js input.throbbing {
  background-position: 100% -18px;
  /* LTR */
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
/* line 47, ../lib/neatstart/core/_system.base.scss */
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
}

/* line 53, ../lib/neatstart/core/_system.base.scss */
html.js fieldset.collapsed .fieldset-wrapper {
  display: none;
}

/* line 56, ../lib/neatstart/core/_system.base.scss */
fieldset.collapsible {
  position: relative;
}

/* line 59, ../lib/neatstart/core/_system.base.scss */
fieldset.collapsible .fieldset-legend {
  display: block;
}

/**
 * Resizable textareas.
 *
 * @see textarea.js
 */
/* line 68, ../lib/neatstart/core/_system.base.scss */
.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 76, ../lib/neatstart/core/_system.base.scss */
.resizable-textarea .grippie {
  background: #eeeeee url(../../misc/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
/* line 90, ../lib/neatstart/core/_system.base.scss */
body.drag {
  cursor: move;
}

/* line 93, ../lib/neatstart/core/_system.base.scss */
.draggable a.tabledrag-handle {
  cursor: move;
  float: left;
  /* LTR */
  height: 1.7em;
  margin-left: -1em;
  /* LTR */
  overflow: hidden;
  text-decoration: none;
}

/* line 101, ../lib/neatstart/core/_system.base.scss */
a.tabledrag-handle:hover {
  text-decoration: none;
}

/* line 104, ../lib/neatstart/core/_system.base.scss */
a.tabledrag-handle .handle {
  background: url(../../misc/draggable.png) no-repeat 6px 9px;
  height: 13px;
  margin: -0.4em 0.5em;
  /* LTR */
  padding: 0.42em 0.5em;
  /* LTR */
  width: 13px;
}

/* line 111, ../lib/neatstart/core/_system.base.scss */
a.tabledrag-handle-hover .handle {
  background-position: 6px -11px;
}

/* line 114, ../lib/neatstart/core/_system.base.scss */
div.indentation {
  float: left;
  /* LTR */
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em;
  /* LTR */
  padding: 0.42em 0 0.42em 0.6em;
  /* LTR */
  width: 20px;
}

/* line 121, ../lib/neatstart/core/_system.base.scss */
div.tree-child {
  background: url(../../misc/tree.png) no-repeat 11px center;
  /* LTR */
}

/* line 124, ../lib/neatstart/core/_system.base.scss */
div.tree-child-last {
  background: url(../../misc/tree-bottom.png) no-repeat 11px center;
  /* LTR */
}

/* line 127, ../lib/neatstart/core/_system.base.scss */
div.tree-child-horizontal {
  background: url(../../misc/tree.png) no-repeat -11px center;
}

/* line 130, ../lib/neatstart/core/_system.base.scss */
.tabledrag-toggle-weight-wrapper {
  text-align: right;
  /* LTR */
}

/**
 * TableHeader behavior.
 *
 * @see tableheader.js
 */
/* line 139, ../lib/neatstart/core/_system.base.scss */
table.sticky-header {
  background-color: #fff;
  margin-top: 0;
}

/**
 * Progress behavior.
 *
 * @see progress.js
 */
/* Bar */
/* line 150, ../lib/neatstart/core/_system.base.scss */
.progress .bar {
  background-color: #fff;
  border: 1px solid;
}

/* line 154, ../lib/neatstart/core/_system.base.scss */
.progress .filled {
  background-color: #000;
  height: 1.5em;
  width: 5px;
}

/* line 159, ../lib/neatstart/core/_system.base.scss */
.progress .percentage {
  float: right;
  /* LTR */
}

/* Throbber */
/* line 163, ../lib/neatstart/core/_system.base.scss */
.ajax-progress {
  display: inline-block;
}

/* line 166, ../lib/neatstart/core/_system.base.scss */
.ajax-progress .throbber {
  background: transparent url(../../misc/throbber.gif) no-repeat 0px -18px;
  float: left;
  /* LTR */
  height: 15px;
  margin: 2px;
  width: 15px;
}

/* line 173, ../lib/neatstart/core/_system.base.scss */
.ajax-progress .message {
  padding-left: 20px;
}

/* line 176, ../lib/neatstart/core/_system.base.scss */
tr .ajax-progress .throbber {
  margin: 0 2px;
}

/* line 179, ../lib/neatstart/core/_system.base.scss */
.ajax-progress-bar {
  width: 16em;
}

/**
 * Inline items.
 */
/* line 187, ../lib/neatstart/core/_system.base.scss */
.container-inline div,
.container-inline label {
  display: inline;
}

/* Fieldset contents always need to be rendered as block. */
/* line 191, ../lib/neatstart/core/_system.base.scss */
.container-inline .fieldset-wrapper {
  display: block;
}

/**
 * Prevent text wrapping.
 */
/* line 198, ../lib/neatstart/core/_system.base.scss */
.nowrap {
  white-space: nowrap;
}

/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
/* line 206, ../lib/neatstart/core/_system.base.scss */
html.js .js-hide {
  display: none;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
/* line 218, ../lib/neatstart/core/_system.base.scss */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
/* line 230, ../lib/neatstart/core/_system.base.scss */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
/* line 243, ../lib/neatstart/core/_system.base.scss */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
/* line 255, ../lib/neatstart/core/_system.base.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* IE6 */
/* line 263, ../lib/neatstart/core/_system.base.scss */
* html .clearfix {
  height: 1%;
}

/* IE7 */
/* line 267, ../lib/neatstart/core/_system.base.scss */
*:first-child + html .clearfix {
  min-height: 1%;
}

/**
 * @file
 * Basic styling for common markup.
 */
/**
 * HTML elements.
 */
/* line 10, ../lib/neatstart/core/_system.theme.scss */
fieldset {
  margin-bottom: 1em;
  padding: 0.5em;
}

/* line 14, ../lib/neatstart/core/_system.theme.scss */
form {
  margin: 0;
  padding: 0;
}

/* line 18, ../lib/neatstart/core/_system.theme.scss */
hr {
  border: 1px solid gray;
  height: 1px;
}

/* line 22, ../lib/neatstart/core/_system.theme.scss */
img {
  border: 0;
}

/* line 25, ../lib/neatstart/core/_system.theme.scss */
table {
  border-collapse: collapse;
}

/* line 28, ../lib/neatstart/core/_system.theme.scss */
th {
  border-bottom: 3px solid #ccc;
  padding-right: 1em;
  /* LTR */
  text-align: left;
  /* LTR */
}

/* line 33, ../lib/neatstart/core/_system.theme.scss */
tbody {
  border-top: 1px solid #ccc;
}

/* line 37, ../lib/neatstart/core/_system.theme.scss */
tr.even,
tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}

/**
 * Markup generated by theme_tablesort_indicator().
 */
/* line 46, ../lib/neatstart/core/_system.theme.scss */
th.active img {
  display: inline;
}

/* line 49, ../lib/neatstart/core/_system.theme.scss */
td.active {
  background-color: #ddd;
}

/**
 * Markup generated by theme_item_list().
 */
/* line 56, ../lib/neatstart/core/_system.theme.scss */
.item-list .title {
  font-weight: bold;
}

/* line 59, ../lib/neatstart/core/_system.theme.scss */
.item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
}

/* line 63, ../lib/neatstart/core/_system.theme.scss */
.item-list ul li {
  margin: 0 0 0.25em 1.5em;
  /* LTR */
  padding: 0;
}

/**
 * Markup generated by Form API.
 */
/* line 72, ../lib/neatstart/core/_system.theme.scss */
.form-item,
.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 77, ../lib/neatstart/core/_system.theme.scss */
tr.odd .form-item,
tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

/* line 82, ../lib/neatstart/core/_system.theme.scss */
.form-item .description {
  font-size: 0.85em;
}

/* line 85, ../lib/neatstart/core/_system.theme.scss */
label {
  display: block;
  font-weight: bold;
}

/* line 89, ../lib/neatstart/core/_system.theme.scss */
label.option {
  display: inline;
  font-weight: normal;
}

/* line 94, ../lib/neatstart/core/_system.theme.scss */
.form-checkboxes .form-item,
.form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

/* line 99, ../lib/neatstart/core/_system.theme.scss */
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2.4em;
}

/* line 103, ../lib/neatstart/core/_system.theme.scss */
input.form-checkbox,
input.form-radio {
  vertical-align: middle;
}

/* line 107, ../lib/neatstart/core/_system.theme.scss */
.marker,
.form-required {
  color: #f00;
}

/* line 112, ../lib/neatstart/core/_system.theme.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red;
}

/**
 * Inline items.
 */
/* line 120, ../lib/neatstart/core/_system.theme.scss */
.container-inline .form-actions,
.container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Markup generated by theme_more_link().
 */
/* line 128, ../lib/neatstart/core/_system.theme.scss */
.more-link {
  text-align: right;
  /* LTR */
}

/**
 * Markup generated by theme_more_help_link().
 */
/* line 135, ../lib/neatstart/core/_system.theme.scss */
.more-help-link {
  text-align: right;
  /* LTR */
}

/* line 138, ../lib/neatstart/core/_system.theme.scss */
.more-help-link a {
  background: url(../../misc/help.png) 0 50% no-repeat;
  /* LTR */
  padding: 1px 0 1px 20px;
  /* LTR */
}

/**
 * Markup generated by theme_pager().
 */
/* line 146, ../lib/neatstart/core/_system.theme.scss */
.item-list .pager {
  clear: both;
  text-align: center;
}

/* line 150, ../lib/neatstart/core/_system.theme.scss */
.item-list .pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: 0.5em;
}

/* line 156, ../lib/neatstart/core/_system.theme.scss */
.pager-current {
  font-weight: bold;
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
/* line 166, ../lib/neatstart/core/_system.theme.scss */
#autocomplete li.selected {
  background: #0072b9;
  color: #fff;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
/* line 176, ../lib/neatstart/core/_system.theme.scss */
html.js fieldset.collapsible .fieldset-legend {
  background: url(../../misc/menu-expanded.png) 5px 65% no-repeat;
  /* LTR */
  padding-left: 15px;
  /* LTR */
}

/* line 180, ../lib/neatstart/core/_system.theme.scss */
html.js fieldset.collapsed .fieldset-legend {
  background-image: url(../../misc/menu-collapsed.png);
  /* LTR */
  background-position: 5px 50%;
  /* LTR */
}

/* line 184, ../lib/neatstart/core/_system.theme.scss */
.fieldset-legend span.summary {
  color: #999;
  font-size: 0.9em;
  margin-left: 0.5em;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
/* line 195, ../lib/neatstart/core/_system.theme.scss */
tr.drag {
  background-color: #fffff0;
}

/* line 198, ../lib/neatstart/core/_system.theme.scss */
tr.drag-previous {
  background-color: #ffd;
}

/* line 201, ../lib/neatstart/core/_system.theme.scss */
.tabledrag-toggle-weight {
  font-size: 0.9em;
}

/* line 204, ../lib/neatstart/core/_system.theme.scss */
body div.tabledrag-changed-warning {
  margin-bottom: 0.5em;
}

/**
 * TableSelect behavior.
 *
 * @see tableselect.js
*/
/* line 213, ../lib/neatstart/core/_system.theme.scss */
tr.selected td {
  background: #ffc;
}

/* line 217, ../lib/neatstart/core/_system.theme.scss */
td.checkbox,
th.checkbox {
  text-align: center;
}

/**
 * Progress bar.
 *
 * @see progress.js
 */
/* line 226, ../lib/neatstart/core/_system.theme.scss */
.progress {
  font-weight: bold;
}

/* line 229, ../lib/neatstart/core/_system.theme.scss */
.progress .bar {
  background: #ccc;
  border-color: #666;
  margin: 0 0.2em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 237, ../lib/neatstart/core/_system.theme.scss */
.progress .filled {
  background: #0072b9 url(../../misc/progress.gif);
}

/**
 * @file
 * Styles for menus and navigation markup.
 */
/**
 * Markup generated by theme_menu_tree().
 */
/* line 10, ../lib/neatstart/core/_system.menus.scss */
ul.menu {
  border: none;
  list-style: none;
  text-align: left;
  /* LTR */
}

/* line 15, ../lib/neatstart/core/_system.menus.scss */
ul.menu li {
  margin: 0 0 0 0.5em;
  /* LTR */
}

/* line 18, ../lib/neatstart/core/_system.menus.scss */
ul li.expanded {
  list-style-image: url(../../misc/menu-expanded.png);
  list-style-type: circle;
}

/* line 22, ../lib/neatstart/core/_system.menus.scss */
ul li.collapsed {
  list-style-image: url(../../misc/menu-collapsed.png);
  /* LTR */
  list-style-type: disc;
}

/* line 26, ../lib/neatstart/core/_system.menus.scss */
ul li.leaf {
  list-style-image: url(../../misc/menu-leaf.png);
  list-style-type: square;
}

/* line 32, ../lib/neatstart/core/_system.menus.scss */
li.expanded,
li.collapsed,
li.leaf {
  padding: 0.2em 0.5em 0 0;
  /* LTR */
  margin: 0;
}

/* line 36, ../lib/neatstart/core/_system.menus.scss */
li a.active {
  color: #000;
}

/* line 39, ../lib/neatstart/core/_system.menus.scss */
td.menu-disabled {
  background: #ccc;
}

/**
 * Markup generated by theme_links().
 */
/* line 47, ../lib/neatstart/core/_system.menus.scss */
ul.inline,
ul.links.inline {
  display: inline;
  padding-left: 0;
}

/* line 51, ../lib/neatstart/core/_system.menus.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

/**
 * Markup generated by theme_breadcrumb().
 */
/* line 60, ../lib/neatstart/core/_system.menus.scss */
.breadcrumb {
  padding-bottom: 0.5em;
}

/**
 * Markup generated by theme_menu_local_tasks().
 */
/* line 67, ../lib/neatstart/core/_system.menus.scss */
ul.primary {
  border-bottom: 1px solid #bbb;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px;
  padding: 0 0 0 1em;
  /* LTR */
  white-space: nowrap;
}

/* line 77, ../lib/neatstart/core/_system.menus.scss */
ul.primary li {
  display: inline;
}

/* line 80, ../lib/neatstart/core/_system.menus.scss */
ul.primary li a {
  background-color: #ddd;
  border-color: #bbb;
  border-style: solid solid none solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em;
  /* LTR */
  padding: 0 1em;
  text-decoration: none;
}

/* line 90, ../lib/neatstart/core/_system.menus.scss */
ul.primary li.active a {
  background-color: #fff;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}

/* line 95, ../lib/neatstart/core/_system.menus.scss */
ul.primary li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom-color: #eee;
}

/* line 100, ../lib/neatstart/core/_system.menus.scss */
ul.secondary {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em;
  margin: 5px;
}

/* line 105, ../lib/neatstart/core/_system.menus.scss */
ul.secondary li {
  border-right: 1px solid #ccc;
  /* LTR */
  display: inline;
  padding: 0 1em;
}

/* line 110, ../lib/neatstart/core/_system.menus.scss */
ul.secondary a {
  padding: 0;
  text-decoration: none;
}

/* line 114, ../lib/neatstart/core/_system.menus.scss */
ul.secondary a.active {
  border-bottom: 4px solid #999;
}

/**
 * @file
 * Styles for system messages.
 */
/* line 7, ../lib/neatstart/core/_system.messages.scss */
div.messages {
  background-position: 8px 8px;
  /* LTR */
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 6px 0;
  padding: 10px 10px 10px 50px;
  /* LTR */
}

/* line 15, ../lib/neatstart/core/_system.messages.scss */
div.status {
  background-image: url(../../misc/message-24-ok.png);
  border-color: #be7;
}

/* line 20, ../lib/neatstart/core/_system.messages.scss */
div.status,
.ok {
  color: #234600;
}

/* line 24, ../lib/neatstart/core/_system.messages.scss */
div.status,
table tr.ok {
  background-color: #f8fff0;
}

/* line 28, ../lib/neatstart/core/_system.messages.scss */
div.warning {
  background-image: url(../../misc/message-24-warning.png);
  border-color: #ed5;
}

/* line 33, ../lib/neatstart/core/_system.messages.scss */
div.warning,
.warning {
  color: #840;
}

/* line 37, ../lib/neatstart/core/_system.messages.scss */
div.warning,
table tr.warning {
  background-color: #fffce5;
}

/* line 41, ../lib/neatstart/core/_system.messages.scss */
div.error {
  background-image: url(../../misc/message-24-error.png);
  border-color: #ed541d;
}

/* line 46, ../lib/neatstart/core/_system.messages.scss */
div.error,
.error {
  color: #8c2e0b;
}

/* line 50, ../lib/neatstart/core/_system.messages.scss */
div.error,
table tr.error {
  background-color: #fef5f1;
}

/* line 53, ../lib/neatstart/core/_system.messages.scss */
div.error p.error {
  color: #333;
}

/* line 57, ../lib/neatstart/core/_system.messages.scss */
div.messages ul {
  margin: 0 0 0 1em;
  /* LTR */
  padding: 0;
}

/* line 61, ../lib/neatstart/core/_system.messages.scss */
div.messages ul li {
  list-style-image: none;
}

/* line 11, ../lib/neatstart/core/_node.scss */
.node-unpublished {
  background-color: #fff4f4;
}

/* line 14, ../lib/neatstart/core/_node.scss */
.preview .node {
  background-color: #ffffea;
}

/* line 17, ../lib/neatstart/core/_node.scss */
td.revision-current {
  background: #ffffcc;
}

/* line 13, ../lib/neatstart/core/_comment.scss */
.indented {
  margin-left: 25px;
  /* LTR */
}

/* line 16, ../lib/neatstart/core/_comment.scss */
.comment-unpublished {
  background-color: #fff4f4;
}

/* line 19, ../lib/neatstart/core/_comment.scss */
.comment-preview {
  background-color: #ffffea;
}
