/**
 * @file
 * Generic theme-independent base styles.
 */
/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\0000313}}
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\0000319}}
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\0000325}}
#autocomplete li {
  background: #fff;
  color: #000;
  cursor: default;
  white-space: pre;
  zoom: 1;
  /* IE7 */
}

/* Animated throbber */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\0000333}}
html.js input.form-autocomplete {
  background-image: url(../../misc/throbber.gif);
  background-position: 100% 2px;
  /* LTR */
  background-repeat: no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\0000338}}
html.js input.throbbing {
  background-position: 100% -18px;
  /* LTR */
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\0000347}}
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\0000353}}
html.js fieldset.collapsed .fieldset-wrapper {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\0000356}}
fieldset.collapsible {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\0000359}}
fieldset.collapsible .fieldset-legend {
  display: block;
}

/**
 * Resizable textareas.
 *
 * @see textarea.js
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\0000368}}
.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\0000376}}
.resizable-textarea .grippie {
  background: #eeeeee url(../../misc/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\0000390}}
body.drag {
  cursor: move;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\0000393}}
.draggable a.tabledrag-handle {
  cursor: move;
  float: left;
  /* LTR */
  height: 1.7em;
  margin-left: -1em;
  /* LTR */
  overflow: hidden;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003101}}
a.tabledrag-handle:hover {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003104}}
a.tabledrag-handle .handle {
  background: url(../../misc/draggable.png) no-repeat 6px 9px;
  height: 13px;
  margin: -0.4em 0.5em;
  /* LTR */
  padding: 0.42em 0.5em;
  /* LTR */
  width: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003111}}
a.tabledrag-handle-hover .handle {
  background-position: 6px -11px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003114}}
div.indentation {
  float: left;
  /* LTR */
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em;
  /* LTR */
  padding: 0.42em 0 0.42em 0.6em;
  /* LTR */
  width: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003121}}
div.tree-child {
  background: url(../../misc/tree.png) no-repeat 11px center;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003124}}
div.tree-child-last {
  background: url(../../misc/tree-bottom.png) no-repeat 11px center;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003127}}
div.tree-child-horizontal {
  background: url(../../misc/tree.png) no-repeat -11px center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003130}}
.tabledrag-toggle-weight-wrapper {
  text-align: right;
  /* LTR */
}

/**
 * TableHeader behavior.
 *
 * @see tableheader.js
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003139}}
table.sticky-header {
  background-color: #fff;
  margin-top: 0;
}

/**
 * Progress behavior.
 *
 * @see progress.js
 */
/* Bar */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003150}}
.progress .bar {
  background-color: #fff;
  border: 1px solid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003154}}
.progress .filled {
  background-color: #000;
  height: 1.5em;
  width: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003159}}
.progress .percentage {
  float: right;
  /* LTR */
}

/* Throbber */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003163}}
.ajax-progress {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003166}}
.ajax-progress .throbber {
  background: transparent url(../../misc/throbber.gif) no-repeat 0px -18px;
  float: left;
  /* LTR */
  height: 15px;
  margin: 2px;
  width: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003173}}
.ajax-progress .message {
  padding-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003176}}
tr .ajax-progress .throbber {
  margin: 0 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003179}}
.ajax-progress-bar {
  width: 16em;
}

/**
 * Inline items.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003187}}
.container-inline div,
.container-inline label {
  display: inline;
}

/* Fieldset contents always need to be rendered as block. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003191}}
.container-inline .fieldset-wrapper {
  display: block;
}

/**
 * Prevent text wrapping.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003198}}
.nowrap {
  white-space: nowrap;
}

/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003206}}
html.js .js-hide {
  display: none;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003218}}
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003230}}
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003243}}
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
/* IE6 */
/* IE7 */
/*
 * From Zen Theme pages.scss
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003274}}
#skip-link {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.base\.scss}line{font-family:\00003278}}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/**
 * @file
 * Basic styling for common markup.
 */
/**
 * Markup generated by theme_tablesort_indicator().
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\0000346}}
th.active img {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\0000349}}
td.active {
  background-color: #ddd;
}

/**
 * Markup generated by Form API.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\0000372}}
.form-item,
.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\0000377}}
tr.odd .form-item,
tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\0000382}}
.form-item .description {
  font-size: 0.85em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\0000389}}
label.option {
  display: inline;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\0000394}}
.form-checkboxes .form-item,
.form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\0000399}}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003103}}
input.form-checkbox,
input.form-radio {
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003107}}
.marker,
.form-required {
  color: #f00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003112}}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red;
}

/**
 * Inline items.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003120}}
.container-inline .form-actions,
.container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Markup generated by theme_more_help_link().
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003138}}
.more-help-link a {
  background: url(../../misc/help.png) 0 50% no-repeat;
  /* LTR */
  padding: 1px 0 1px 20px;
  /* LTR */
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003166}}
#autocomplete li.selected {
  background: #0072b9;
  color: #fff;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003176}}
html.js fieldset.collapsible .fieldset-legend {
  background: url(../../misc/menu-expanded.png) 5px 65% no-repeat;
  /* LTR */
  padding-left: 15px;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003180}}
html.js fieldset.collapsed .fieldset-legend {
  background-image: url(../../misc/menu-collapsed.png);
  /* LTR */
  background-position: 5px 50%;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003184}}
.fieldset-legend span.summary {
  color: #999;
  font-size: 0.9em;
  margin-left: 0.5em;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003195}}
tr.drag {
  background-color: #fffff0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003198}}
tr.drag-previous {
  background-color: #ffd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003201}}
.tabledrag-toggle-weight {
  font-size: 0.9em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003204}}
body div.tabledrag-changed-warning {
  margin-bottom: 0.5em;
}

/**
 * TableSelect behavior.
 *
 * @see tableselect.js
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003213}}
tr.selected td {
  background: #ffc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003217}}
td.checkbox,
th.checkbox {
  text-align: center;
}

/**
 * Progress bar.
 *
 * @see progress.js
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003226}}
.progress {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003229}}
.progress .bar {
  background: #ccc;
  border-color: #666;
  margin: 0 0.2em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.theme\.scss}line{font-family:\00003237}}
.progress .filled {
  background: #0072b9 url(../../misc/progress.gif);
}

/**
 * @file
 * Styles for menus and navigation markup.
 */
/**
 * Markup generated by theme_menu_tree().
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.menus\.scss}line{font-family:\0000310}}
ul.menu {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.menus\.scss}line{font-family:\0000339}}
td.menu-disabled {
  background: #ccc;
}

/**
 * Markup generated by theme_links().
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.menus\.scss}line{font-family:\0000347}}
ul.inline,
ul.links.inline {
  display: inline;
  padding-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_system\.menus\.scss}line{font-family:\0000351}}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_node\.scss}line{font-family:\0000311}}
.node-unpublished {
  background-color: #fff4f4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_node\.scss}line{font-family:\0000314}}
.preview .node {
  background-color: #ffffea;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_node\.scss}line{font-family:\0000317}}
td.revision-current {
  background: #ffffcc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_comment\.scss}line{font-family:\0000313}}
.indented {
  margin-left: 25px;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_comment\.scss}line{font-family:\0000316}}
.comment-unpublished {
  background-color: #fff4f4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/core\/_comment\.scss}line{font-family:\0000319}}
.comment-preview {
  background-color: #ffffea;
}

/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */
/*
 * Basic positioning styles shared by primary and secondary tabs.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/zen\/_tabs\.scss}line{font-family:\0000317}}
ul.primary,
ul.secondary {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #bbbbbb;
  list-style: none;
  margin: 1em 0 1.5em;
  padding: 0 2px;
  white-space: nowrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/zen\/_tabs\.scss}line{font-family:\0000328}}
ul.primary li,
ul.secondary li {
  float: left;
  /* LTR */
  margin: 0.5em 3px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/zen\/_tabs\.scss}line{font-family:\0000334}}
ul.primary a,
ul.secondary a {
  border: 1px solid #e9e9e9;
  border-right: 0;
  border-bottom: 0;
  display: block;
  line-height: 1.5em;
  text-decoration: none;
}

/*
 * Primary tabs
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/zen\/_tabs\.scss}line{font-family:\0000347}}
ul.primary li {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  text-shadow: white 1px 1px 0;
  border: 1px solid #bbbbbb;
  border-bottom: 0;
  margin: 0.5em 0 0 3px;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/zen\/_tabs\.scss}line{font-family:\0000364}}
ul.primary li.active {
  border-bottom: 1px solid white;
  margin-bottom: -1px;
  /* Overlap the ul's border. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/zen\/_tabs\.scss}line{font-family:\0000370}}
ul.primary a:link,
ul.primary a:visited {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #333;
  background-color: #dedede;
  letter-spacing: 1px;
  padding: 0 1em;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/zen\/_tabs\.scss}line{font-family:\0000394}}
ul.primary a:hover,
ul.primary a:focus {
  background-color: #e9e9e9;
  border-color: #f2f2f2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/zen\/_tabs\.scss}line{font-family:\0000399}}
ul.primary a.active {
  background-color: transparent;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE9E9E9', endColorstr='#00E9E9E9');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9e9), color-stop(100%, rgba(233, 233, 233, 0)));
  background-image: -webkit-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: -moz-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: -o-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: -ms-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  border-color: #fff;
}

/*
 * Secondary tabs
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/zen\/_tabs\.scss}line{font-family:\00003116}}
ul.secondary {
  font-size: .9em;
  margin-top: -1.5em;
  /* Collapse bottom margin of ul.primary. */
  padding-bottom: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/zen\/_tabs\.scss}line{font-family:\00003123}}
ul.secondary a:link,
ul.secondary a:visited {
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -ms-border-radius: 0.75em;
  -o-border-radius: 0.75em;
  border-radius: 0.75em;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-shadow: white 1px 1px 0;
  background-color: #f2f2f2;
  color: #666;
  padding: 0 .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/zen\/_tabs\.scss}line{font-family:\00003141}}
ul.secondary a:hover,
ul.secondary a:focus {
  background-color: #dedede;
  border-color: #999;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/MacOneHD\/Users\/Gorazd\/Sites\/drupal7\/profiles\/ultimostandard\/themes\/neatstart\/lib\/neatstart\/zen\/_tabs\.scss}line{font-family:\00003148}}
ul.secondary a.active,
ul.secondary a:active {
  text-shadow: #333333 1px 1px 0;
  background-color: #666;
  border-color: #000;
  color: #fff;
}
