/* Tabs ---------------------- 
 * (from Foundation 3.2)
*/

.tabs { display: block; margin-bottom: 20px; padding: 0; height: $tabHeight; border-bottom: solid 1px darken($white, 10%); list-style: none;
&.contained { margin-bottom: 0; margin-left: 0; }

dt, li.section-title { display: block; float: $defaultFloat; padding: 0; width: auto; height: $tabHeight; color: darken($white, 30%); text-transform: uppercase; font-weight: normal; font-size: $tabTermFontSize; line-height: $tabHeight; cursor: default; padding-#{$defaultOpposite}: 9px; padding-#{$defaultFloat}: 20px;
  &:first-child { padding: 0; padding-#{$defaultOpposite}: 9px; }
}

dd, li { display: block; float: $defaultFloat; margin: 0; padding: 0;
  a { display: block; padding: 0px ms(1) * 1.4; height: $tabHeight; color: lighten($txtColor, 30%); font-size: ms(0); line-height: $tabHeight;
    &:focus { color: $mainColor; font-weight: bold; }
  }
  &.active { margin-top: -3px; border-top: 3px solid $mainColor;
    a { background: #fff; color: lighten($txtColor, 10%); font-weight: bold; cursor: default; border-#{$defaultFloat}: 1px solid darken($white, 10%); border-#{$defaultOpposite}: 1px solid darken($white, 10%); }
  }
  &:first-child { margin-#{$defaultFloat}: 0; }
}

&.vertical { height: auto; border-bottom: 1px solid darken($white, 10%);
  dt, dd, li { float: none; height: auto; }

  dd, li { border-#{$defaultFloat}: 3px solid darken($white, 20%);
    a { @include box-shadow(0 1px 0 $shinyEdge inset); display: block; padding: 15px 20px; height: auto; border: none; border: 1px solid darken($white, 10%); border-width: 1px 1px 0 0; background: darken($white, 5%); color: #555; font-size: ms(0); line-height: 1;
    }
    &.active { margin-top: 0; border-top: 1px solid lighten($black, 30%); border-#{$defaultFloat}: 4px solid lighten($black, 10%);
      a { @include box-shadow(0 0 0); position: static; top: 0; margin: 0; height: auto; border: none; background: lighten($black, 30%); color: #fff; }
    }
    &:first-child a.active { margin: 0; }
  }
}

&.pill { margin-bottom: 10px; border-bottom: none;
  dd, li { margin-#{$defaultOpposite}: 10px;
    &:last-child { margin-#{$defaultOpposite}: 0; }
    a { @include border-radius(1000px); height: $tabHeight - 14; background: darken($white, 10%); color: #666; line-height: $tabHeight - 14; }

    &.active { margin-top: 0; border: none;
      a { border: none; background-color: $mainColor; color: #fff; }
    }
  }
  &.contained { margin-bottom: 0; border-bottom: solid 1px #eee; }
  &.two-up, &.three-up, &.four-up, &.five-up {
    dd, li { margin-interpolation10__: 0; }
  }
}

&.two-up, &.three-up, &.four-up, &.five-up {
  dt a, dd a, li a { overflow: hidden; padding: 0 ms(1); text-align: center; }
}
&.two-up dt, &.two-up dd, &.two-up li      { width: 50%; }
&.three-up dt, &.three-up dd, &.three-up li  { width: 33.33%; }
&.four-up dt, &.four-up dd, &.four-up li    { width: 25%; }
&.five-up dt, &.five-up dd, &.five-up li    { width: 20%; }
}

ul.tabs-content { display: block; margin: 0 0 20px; padding: 0;
&>li { display: none;
  &.active { display: block; }
}
&.contained { padding: 0;
  &>li { padding: 20px; border: solid 0 darken($white, 10%); border-width: 0 1px 1px 1px; }
  &.vertical>li { border-width: 1px 1px 1px 1px; }
}
}

.no-js ul.tabs-content>li { display: block; }
