//
// Comment Variables
//
$comment-unpublished-bg-color: #fff4f4 !default;
$comment-preview-bg-color: #ffffea !default;

//
// Comment
//
#comments {
  //margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: $comment-unpublished-bg-color;
}
.comment-preview {
  background-color: $comment-preview-bg-color;
}
