//
// Node Variables
//
$node-unpublished-bg-color: #fff4f4 !default;
$node-preview-bg-color: #ffffea !default;
$node-revision-current: #ffc !default;

//
// Node
//
.node-unpublished {
  background-color: $node-unpublished-bg-color;
}
.preview .node {
  background-color: $node-preview-bg-color;
}
td.revision-current {
  background: $node-revision-current;
}
