//
// Button Variables
//
$include-html-button-plus-classes: $include-html-classes !default; //++

$button-padding-med: emCalc(6, 12) !default; //++ emCalc(12);
$button-padding-tny: emCalc(3, 5) !default; //++ emCalc(7);
$button-padding-sml: emCalc(5, 10) !default; //++ emCalc(9);
$button-padding-lrg: emCalc(10, 16) !default; //++ emCalc(16);

// We use these to control button border styles.
$button-border-width: 1px !default;
$button-border-style: solid !default;
$button-border-color: $primary-color !default; //++

//
// Button Mixins
//

// We use this mixin to create a default button base.
@mixin button-base($style:true, $display:$button-display) {
  @if $style {
    position: relative;

    //background-color: $primary-color;
    display: $display;
    margin-bottom: $button-margin-bottom;
    //padding: $button-padding-med;
    border: $button-border-width $button-border-style $button-border-color;
        
    //color: $button-font-color;
    vertical-align: middle;
    
    text-align: $button-font-align;    
    white-space: nowrap;

    font-family: $button-font-family;    
    font-size: $button-font-med;
    font-weight: $button-font-weight; // For input.btn
    line-height: $base-line-height;
    cursor: $cursor-pointer-value;
    
    text-decoration: none;
  }
  @if $display { display: $display; }
}

// We use this mixin to add button size styles
@mixin button-size($padding:$button-padding-med, $full-width:false, $is-input:false) {

  // We control which padding styles come through,
  // these can be turned off by setting $padding:false
  @if $padding {
    //padding-top: $padding;
    //padding-bottom: $padding + emCalc(1);
    //padding-#{$opposite-direction}: $padding * 2;
    //padding-#{$default-float}: $padding * 2;
    padding: $padding;

    // We control the font-size based on mixin input.
    @if      $padding == $button-med { font-size: $button-font-med; }
    @else if $padding == $button-tny { font-size: $button-font-tny; }
    @else if $padding == $button-sml { font-size: $button-font-sml; }
    @else if $padding == $button-lrg { font-size: $button-font-lrg; }
    //@else                            { font-size: $padding - emCalc(2); }
  }

  // We can set $full-width:true to remove side padding extend width.
  @if $full-width {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    // We still need to check if $padding is set.
    @if $padding {
    //padding-top: $padding;
    //padding-bottom: $padding + emCalc(1);
    } @else if $padding == false {
      //padding-top:0;
      //padding-bottom:0;
    }
  }

  // <input>'s and <button>'s take on strange padding. We added this to help fix that.
  @if $is-input == $button-lrg {
    padding-top: $is-input + emCalc(.5);
    padding-bottom: $is-input + emCalc(.5);
    -webkit-appearance: none;
  }
  @else if $is-input {
    padding-top: $is-input + emCalc(1);
    padding-bottom: $is-input;
    -webkit-appearance: none;
  }
}

// We use this mixin to add button color styles
@mixin button-style($bg:$primary-color, $radius:true, $disabled:false) { // $bg:$primary-color, $radius:true, $disabled:false

  // We control which background styles are used,
  // these can be removed by setting $bg:false
  @if $bg {
    // This find the lightness percentage of the background color.
    $bg-lightness: lightness($bg);
    border-color: darken($bg, $button-function-factor);

    background-color: $bg;
    &:hover,
    &:focus { background-color: darken($bg, $button-function-factor); }

    @include radius($button-radius); //++
    //border-radius: $button-radius; //++
    
    // We control the text color for you based on the background color.
    @if $bg-lightness > 70% {
      color: $button-font-color-alt;
      &:hover,
      &:focus { color: $button-font-color-alt; }
    }
    @else {
      color: $button-font-color;
      &:hover,
      &:focus { color: $button-font-color; }
    }
  }

  // We can set $disabled:true to create a disabled transparent button.
  @if $disabled {
    box-shadow: none;
    opacity: $button-disabled-opacity;
    cursor: $cursor-default-value;
    @if $experimental {
      -webkit-box-shadow: none;
    }
    &:hover,
    &:focus { background-color: $bg; }
  }

  // We can control how much button radius us used.
  //@if $radius == true { @include radius($button-radius); }
  //@else if $radius { @include radius($radius); }

}


// We use this to quickly create buttons with a single mixin. As @jaredhardy puts it, "the kitchen sink mixin"
@mixin button($padding:$button-med, $bg:$primary-color, $radius:false, $full-width:false, $disabled:false, $is-input:false, $is-prefix:false) {
  @include button-base;
  @include button-style($bg, $radius, $disabled);
  @include button-size($padding, $full-width, $is-input);
}

//
// Button Classes
//

// Only include these classes if the variable is true, otherwise they'll be left out.
@if $include-html-button-plus-classes != false {
  
  // Default styles applied outside of media query
  button, .button {
    @include button-base;
    @include button-style;
    
    &.secondary { @include button-style($bg:$secondary-color); }
    &.success   { @include button-style($bg:$success-color); }
    &.alert     { @include button-style($bg:$alert-color); }

    &.large  { @include button-size($padding:$button-padding-lrg); }
    &.small  { @include button-size($padding:$button-padding-sml); }
    &.tiny   { @include button-size($padding:$button-padding-tny); }
    &.expand { @include button-size($padding:null, $full-width:true); }
    
    &.left-align  { text-align: left; text-indent: emCalc(12); }
    &.right-align { padding-right: emCalc(12); text-align: right; }
    
    &.disabled, &[disabled] { 
      @include button-style($bg:$primary-color, $disabled:true);
      
      &.secondary { @include button-style($bg:$secondary-color, $disabled:true); }
      &.success { @include button-style($bg:$success-color, $disabled:true); }
      &.alert { @include button-style($bg:$alert-color, $disabled:true); }
    }
    @include button-size;

  }
  
  button, .button {
    @include button-size($padding:false, $is-input:$button-med);
    &.tiny { @include button-size($padding:false, $is-input:$button-tny); }
    &.small { @include button-size($padding:false, $is-input:$button-sml); }
    &.large { @include button-size($padding:false, $is-input:$button-lrg); }
  }

  // Styles for any browser or device that support media queries
  @media only screen {

    button, .button {
      @include single-transition(background-color);

      &.large  { @include button-size($padding:false, $full-width:false); }
      &.small  { @include button-size($padding:false, $full-width:false); }
      &.tiny   { @include button-size($padding:false, $full-width:false); }

      &.radius { @include button-style($bg:false, $radius:true); }
      &.round  { @include button-style($bg:false, $radius:$button-round); }
      //@include inset-shadow();
    }

  }


}
