//
// Global Foundation Mixins
//

//@function relative-unit($number) {
//  @return unit($number) == "%" or unit($number) == "em" or unit($number) == "rem"; 
//}
  
// Converts "(r)em" to "px" using the ($)em-base
@function convert-to-px($value)  {
  $relative-unit: unit($value) == "em" or unit($value) == "rem";
  @if $relative-unit {
    @return strip-unit($value) * strip-unit($em-base) * 1px;
  } @else {
    @return $value;
  }  
}

$include-html-global-plus-classes: $include-html-classes; //++

@if $include-html-global-plus-classes {

  // Set box-sizing globally to handle padding and border widths
  //*,
  //*:before,
  //*:after {
  //  @include box-sizing(border-box);
  //}
  
  html,
  body { 
    @if $body-bg != transparent { 
      background: $body-bg; 
    } 
    font-size: $base-font-size; 
  }

  // Default body styles
  body {
    color: $body-font-color;
    padding: 0;
    margin: 0;
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    font-style: $body-font-style;
    line-height: $base-line-height; // Set to $base-line-height to take on browser default of 150%
    position: relative;
    cursor: $cursor-default-value;
  }

  a:hover { cursor: $cursor-pointer-value; }

  // Override outline from normalize, we don't like it
  a:focus { outline: none; }

  // Grid Defaults to get images and embeds to work properly
  img,
  object,
  embed { max-width: 100%; height: auto; }

  object,
  embed { height: 100%; }
  img { -ms-interpolation-mode: bicubic; }

  #map_canvas,
  .map_canvas {
    img,
    embed,
    object { max-width: none !important;
    }
  }

  // Miscellaneous useful HTML classes
  .left         { float: left !important; }
  .right        { float: right !important; }
  .text-left    { text-align: left !important; }
  .text-right   { text-align: right !important; }
  .text-center  { text-align: center !important; }
  .text-justify { text-align: justify !important; }
  .hide         { display: none; }

  // Font smoothing
  // Antialiased font smoothing works best for light text on a dark background.
  // Apply to single elements instead of globally to body.
  // Note this only applies to webkit-based desktop browsers on the Mac.
  .antialiased { -webkit-font-smoothing: antialiased; }

  // Get rid of gap under images by making them display: inline-block; by default
  img {
    display: inline-block;
    vertical-align: middle;
  }

  //
  // Global resets for forms
  //

  // Make sure textarea takes on height automatically
  textarea { height: auto; min-height: 50px; }

  // Make select elements 100% width by default
  select { width: 100%; }

}
