
@import "compass/css3";
@import "compass/css3/images";
@import "compass/typography/vertical_rhythm";
@import "compass/layout/grid-background";

$include-html-type-plus-classes: $include-html-classes !default; //++
$include-html-vertical-rhythm-plus-classes: false !default; //++

@mixin vertical-rhythm-and-adjust($font-size, $vertical-rhythm) {
  //@if $vertical-rhythm {
    @include adjust-font-size-to(convert-to-px($font-size));
    @include rhythm(nth($vertical-rhythm, 1), nth($vertical-rhythm, 2), 
      nth($vertical-rhythm, 3), nth($vertical-rhythm, 4), convert-to-px($font-size)); 
  //}
}

@if $include-html-type-plus-classes != false {

  ///* Typography resets */
  //div,
  //dl,
  //dt,
  //dd,
  //ul,
  //ol,
  //li,
  //h1,
  //h2,
  //h3,
  //h4,
  //h5,
  //h6,
  //pre,
  //form,
  //p,
  //blockquote,
  //th,
  //td 
  //{
  //  margin:0;
  //  padding:0;
  //  direction: $text-direction;
  //}

  @if $include-html-vertical-rhythm-plus-classes {
    @include establish-baseline();
  }

  /* Default Link Styles */
  a {
    color: $anchor-font-color;
    text-decoration: $anchor-text-decoration;
    line-height: inherit;

    &:hover,
    &:focus { color: $anchor-font-color-hover; }

    img { border:none; }
  }
  
  /* Default paragraph styles */
  p {
    @if $include-html-vertical-rhythm-plus-classes != false { 
      @include vertical-rhythm-and-adjust($paragraph-font-size, $paragraph-vertical-rhythm); 
    } @else {
      padding: 0;
      margin: 0 0 $paragraph-margin-bottom 0;
      line-height: $paragraph-line-height;  
    }
    font-weight: $paragraph-font-weight;
    font-size: $paragraph-font-size;
    font-family: $paragraph-font-family;
    text-rendering: $paragraph-text-rendering;
    
    &.lead { @extend %lead; }
    
    & aside {
      font-style: $paragraph-aside-font-style;
      font-size: $paragraph-aside-font-size;
      line-height: $paragraph-aside-line-height;
    }
  }
  
  /* Default header styles */
  h1, h2, h3, h4, h5, h6 {
    margin-top: $header-top-margin;
    margin-bottom: $header-bottom-margin;
    color: $header-font-color;
    font-weight: $header-font-weight;
    font-style: $header-font-style;
    font-family: $header-font-family;
    line-height: $header-line-height;
    text-rendering: $header-text-rendering;
    
    small {
      color: $small-font-color;
      font-size: $small-font-size;
      line-height: 0;
    }
  }
  
  @if $include-html-vertical-rhythm-plus-classes != false {
    @include establish-baseline();

    h1 { @include vertical-rhythm-and-adjust($h1-font-size, $h1-vertical-rhythm); }
    h2 { @include vertical-rhythm-and-adjust($h2-font-size, $h2-vertical-rhythm); }
    h3 { font-size: $h3-font-size; @include vertical-rhythm-and-adjust($h3-font-size, $h3-vertical-rhythm); }
    h4 { font-size: $h4-font-size; @include vertical-rhythm-and-adjust($h4-font-size, $h4-vertical-rhythm); }
    h5 { font-size: $h5-font-size; @include vertical-rhythm-and-adjust($h5-font-size, $h5-vertical-rhythm); }
    h6 { font-size: $h6-font-size; @include vertical-rhythm-and-adjust($h6-font-size, $h6-vertical-rhythm); }
  } @else {  
    h1 { font-size: $h1-font-size; }
    h2 { font-size: $h2-font-size; }
    h3 { font-size: $h3-font-size; }
    h4 { font-size: $h4-font-size; }
    h5 { font-size: $h5-font-size; }
    h6 { font-size: $h6-font-size; }
  }
  
  .subheader { @extend %subheader; }
  
  hr {
    clear: both;
    margin: $hr-margin 0 ($hr-margin - emCalc(1));
    height: 0;
    border: $hr-border-style $hr-border-color;
    border-width: $hr-border-width 0 0;
  }
  
  /* Helpful Typography Defaults */
  em,
  i {
    font-style: italic;
    line-height: inherit;
  }

  strong,
  b {
    font-weight: bold;
    line-height: inherit;
  }

  small {
    font-size: $small-font-size;
    line-height: inherit;
  }

  code {
    color: $code-color;
    font-weight: $code-font-weight;
    font-family: $code-font-family;
  }

  /* Lists */
  ul,
  ol,
  dl {
    margin: 0 0 $paragraph-margin-bottom 0;
    //margin-bottom: $paragraph-margin-bottom;
    padding: 0; //+
    //list-style-position: $list-style-position;
    font-size: $paragraph-font-size;
    font-family: $paragraph-font-family;
    line-height: $paragraph-line-height; //margin-bottom: $paragraph-margin-bottom
    list-style-position: inside;
  }

  ul, ol {
    //margin-#{$default-float}: $list-side-margin;
    margin-#{$default-float}: $list-nested-margin;
  }
  
  li { margin: 0; padding: 0; }

  /* Unordered Lists */
  ul {
    li {
      ul,
      ol {
        margin-bottom: 0;
        font-size: 1em; /* Override nested font-size change */
        margin-#{$default-float}: $list-nested-margin;
      }
    }
    &.square,
    &.circle,
    &.disc {
      li ul { list-style: inherit; }
    }

    &.square { list-style-type: square; }
    &.circle { list-style-type: circle; }
    &.disc { list-style-type: disc; }
    &.no-bullet { list-style: none; }
  }

  /* Ordered Lists */
  ol {
    li {
      ul,
      ol {
        margin-bottom: 0;
        margin-#{$default-float}: $list-nested-margin;
      }
    }
  }

  /* Definition Lists */
  dl {
    dt {
      margin: 0 0 $definition-list-header-margin-bottom 0;
      padding: 0;
      font-weight: $definition-list-header-weight;
    }
    dd { 
      margin: 0 0 $definition-list-margin-bottom 0; 
      padding: 0;
    }
  }

  /* Abbreviations */
  abbr,
  acronym {
    border-bottom: $acronym-underline;
    color: $body-font-color;
    text-transform: uppercase;
    font-size: 90%;
    cursor: $cursor-help-value;
  }
  abbr {
    text-transform: none;
  }
  
  pre {
    margin: 0; //++
    padding: 0; //++
  }
  
  /* Blockquotes */
  blockquote {
    margin: 0 0 $paragraph-margin-bottom;
    padding: $blockquote-padding; //++
    border-#{$default-float}: $blockquote-border;

    cite {
      display: block;
      color: $blockquote-cite-font-color;
      font-size: $blockquote-cite-font-size;
      &:before {
        content: "\2014 \0020";
      }

      a,
      a:visited {
        color: $blockquote-cite-link-color;
      }
    }
  }
  blockquote,
  blockquote p {
    color: $blockquote-font-color;
    line-height: $paragraph-line-height;
  }

  /* Microformats */
  .vcard {
    display: inline-block;
    margin: $microformat-margin;
    padding: $microformat-padding;
    border: $microformat-border-width $microformat-border-style $microformat-border-color;

    li {
      display: block;
      margin: 0;
    }
    .fn {
      font-weight: $microformat-fullname-font-weight;
      font-size: $microformat-fullname-font-size;
    }
  }

  .vevent {
    .summary { font-weight: $microformat-summary-font-weight; }

    abbr {
      padding: $microformat-abbr-padding;
      border: none;
      text-decoration: $microformat-abbr-font-decoration;
      font-weight: $microformat-abbr-font-weight;
      cursor: $cursor-default-value;
    }
  }
  
  // Only include these styles if you want them.
  @if $include-print-styles {
    /*
     * Print styles.
     *
     * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
     * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
    */
    .print-only { display: none !important; }
    @media print {
      * {
        background: transparent !important;
        box-shadow: none !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        text-shadow: none !important;
      }

      a,
      a:visited { text-decoration: underline;}
      a[href]:after { content: " (" attr(href) ")"; }

      abbr[title]:after { content: " (" attr(title) ")"; }

      // Don't show links for images, or javascript/internal links
      .ir a:after,
      a[href^="javascript:"]:after,
      a[href^="#"]:after { content: ""; }

      pre,
      blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
        
      }

      thead { display: table-header-group; /* h5bp.com/t */ }

      tr,
      img { page-break-inside: avoid; }

      img { max-width: 100% !important; }

      @page { margin: 0.5cm; }

      p,
      h2,
      h3 {
        orphans: 3;
        widows: 3;
      }

      h2,
      h3 { page-break-after: avoid; }

      .hide-on-print { display: none !important; }
      .print-only { display: block !important; }
      .hide-for-print { display: none !important; }
      .show-for-print { display: inherit !important; }
    }
  }

}