


/*
 * modules/aggregator/aggregator.css
 */
/**
 * Styles for theme in the Aggregator module.
 */

#aggregator .feed-source .feed-title {
  margin-top: 0;
}
#aggregator .feed-source .feed-image img {
  margin-bottom: 0.75em;
}
#aggregator .feed-source .feed-icon {
  float: right; /* LTR */
  display: block;
}
#aggregator .feed-item {
  margin-bottom: 1.5em;
}
#aggregator .feed-item-title {
  margin-bottom: 0;
  font-size: 1.3em;
}
#aggregator .feed-item-meta,
#aggregator .feed-item-body {
  margin-bottom: 0.5em;
}
#aggregator .feed-item-categories {
  font-size: 0.9em;
}
#aggregator td {
  vertical-align: bottom;
}
#aggregator td.categorize-item {
  white-space: nowrap;
}
#aggregator .categorize-item .news-item .body {
  margin-top: 0;
}
#aggregator .categorize-item h3 {
  margin-bottom: 1em;
  margin-top: 0;
}


/*
 * modules/aggregator/aggregator-rtl.css
 */
/**
 * Right-to-Left styles for theme in the Aggregator module.
 */

#aggregator .feed-source .feed-icon {
  float: left;
}


/*
 * modules/block/block.css
 */

#blocks tr.region-title td {
  font-weight: bold;
}
#blocks tr.region-message {
  font-weight: normal;
  color: #999;
}
#blocks tr.region-populated {
  display: none;
}
.block-region {
  background-color: #ff6;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 3px;
}
a.block-demo-backlink,
a.block-demo-backlink:link,
a.block-demo-backlink:visited {
  background-color: #B4D7F0;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  color: #000;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: small;
  line-height: 20px;
  left: 20px; /*LTR*/
  padding: 5px 10px;
  position: fixed;
  z-index: 499;
}
a.block-demo-backlink:hover {
  text-decoration: underline;
}


/*
 * modules/book/book.css
 */
 /**
  * @file
  * Styling for the Book module.
  */

.book-navigation .menu {
  border-top: 1px solid #888;
  padding: 1em 0 0 3em; /* LTR */
}
.book-navigation .page-links {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  text-align: center;
  padding: 0.5em;
}
.book-navigation .page-previous {
  text-align: left;
  width: 42%;
  display: block;
  float: left; /* LTR */
}
.book-navigation .page-up {
  margin: 0 5%;
  width: 4%;
  display: block;
  float: left; /* LTR */
}
.book-navigation .page-next {
  text-align: right;
  width: 42%;
  display: block;
  float: right;
}
#book-outline {
  min-width: 56em;
}
.book-outline-form .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
html.js #edit-book-pick-book {
  display: none;
}
.form-item-book-bid .description {
  clear: both;
}
#book-admin-edit select {
  margin-right: 24px;
}
#book-admin-edit select.progress-disabled {
  margin-right: 0;
}
#book-admin-edit tr.ajax-new-content {
  background-color: #ffd;
}
#book-admin-edit .form-item {
  float: left;
}


/*
 * modules/book/book-rtl.css
 */
/**
 * @file
 * Right-to-Left styling for the Book module.
 */

.book-navigation .menu {
  padding: 1em 3em 0 0;
}

.book-navigation .page-previous {
  float: right;
}
.book-navigation .page-up {
  float: right;
}


/*
 * modules/color/color.css
 */
/**
 * @file
 * Stylesheet for the administration pages of the Color module.
 */

/* Farbtastic placement */
.color-form {
  max-width: 50em;
  position: relative;
}
#placeholder {
  position: absolute;
  top: 0;
  right: 0; /* LTR */
}

/* Palette */
.color-form .form-item {
  height: 2em;
  line-height: 2em;
  padding-left: 1em; /* LTR */
  margin: 0.5em 0;
}
.color-form label {
  float: left; /* LTR */
  clear: left; /* LTR */
  width: 10em;
}
.color-form .form-text,
.color-form .form-select {
  float: left; /* LTR */
}
.color-form .form-text {
  text-align: center;
  margin-right: 5px; /* LTR */
  cursor: pointer;
}

#palette .hook {
  float: left; /* LTR */
  margin-top: 3px;
  width: 16px;
  height: 16px;
}
#palette .down,
#palette .up,
#palette .both {
  background: url(images/hook.png) no-repeat 100% 0; /* LTR */
}
#palette .up {
  background-position: 100% -27px; /* LTR */
}
#palette .both {
  background-position: 100% -54px; /* LTR */
}

#palette .lock {
  float: left; /* LTR */
  position: relative;
  top: -1.4em;
  left: -10px; /* LTR */
  width: 20px;
  height: 25px;
  background: url(images/lock.png) no-repeat 50% 2px;
  cursor: pointer;
}
#palette .unlocked {
  background-position: 50% -22px;
}
#palette .form-item {
  width: 20em;
}
#palette .item-selected {
  background: #eee;
}

/* Preview */
#preview {
  display: none;
}
html.js #preview {
  display: block;
  position: relative;
  float: left; /* LTR */
}


/*
 * modules/color/color-rtl.css
 */
/**
 * @file
 * Right-to-left specific stylesheet for the Color module.
 */

#placeholder {
  left: 0;
  right: auto;
}

/* Palette */
.color-form .form-item {
  padding-left: 0;
  padding-right: 1em;
}
.color-form label {
  float: right;
  clear: right;
}
.color-form .form-text,
.color-form .form-select {
  float: right;
}
.color-form .form-text {
  margin-right: 0;
  margin-left: 5px;
}
#palette .hook {
  float: right;
}
#palette .down,
#palette .up,
#palette .both {
  background: url(images/hook-rtl.png) no-repeat 0 0;
}
#palette .up {
  background-position: 0 -27px;
}
#palette .both {
  background-position: 0 -54px;
}
#palette .lock {
  float: right;
  right: -10px;
}
html.js #preview {
  float: right;
}


/*
 * modules/comment/comment.css
 */

#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}


/*
 * modules/comment/comment-rtl.css
 */

.indented {
  margin-left: 0;
  margin-right: 25px;
}


/*
 * modules/contextual/contextual.css
 */
/**
 * @file
 * Stylesheet for the Contextual module.
 */

/**
 * Contextual links regions.
 */
.contextual-links-region {
  outline: none;
  position: relative;
}
.contextual-links-region-active {
  outline: #999 dashed 1px;
}

/**
 * Contextual links.
 */
div.contextual-links-wrapper {
  display: none;
  font-size: 90%;
  position: absolute;
  right: 5px; /* LTR */
  top: 2px;
  z-index: 999;
}
html.js div.contextual-links-wrapper {
  display: block;
}
a.contextual-links-trigger {
  background: transparent url(images/gear-select.png) no-repeat 2px 0;
  border: 1px solid transparent;
  display: none;
  height: 18px;
  margin: 0;
  padding: 0 2px;
  outline: none;
  text-indent: 34px; /* LTR */
  width: 28px;
  overflow: hidden;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
a.contextual-links-trigger:hover,
div.contextual-links-active a.contextual-links-trigger {
  background-position: 2px -18px;
}
div.contextual-links-active a.contextual-links-trigger {
  background-color: #fff;
  border-color: #ccc;
  border-bottom: none;
  position: relative;
  z-index: 1;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-radius: 4px 4px 0 0;
}
div.contextual-links-wrapper ul.contextual-links {
  background-color: #fff;
  border: 1px solid #ccc;
  display: none;
  margin: 0;
  padding: 0.25em 0;
  position: absolute;
  right: 0;
  text-align: left;
  top: 18px;
  white-space: nowrap;
  -moz-border-radius: 4px 0 4px 4px; /* LTR */
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 0; /* LTR */
  -webkit-border-top-left-radius: 4px; /* LTR */
  border-radius: 4px 0 4px 4px; /* LTR */
}
.contextual-links-region:hover a.contextual-links-trigger,
div.contextual-links-active a.contextual-links-trigger,
div.contextual-links-active ul.contextual-links {
  display: block;
}
ul.contextual-links li {
  line-height: 100%;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
div.contextual-links-wrapper a {
  text-decoration: none;
}
ul.contextual-links li a {
  color: #333 !important;
  display: block;
  margin: 0.25em 0;
  padding: 0.25em 1em 0.25em 0.5em;
}
ul.contextual-links li a:hover {
  background-color: #bfdcee;
}


/*
 * modules/contextual/contextual-rtl.css
 */
/**
 * @file
 * Stylesheet specific to right-to-left languages.
 */

div.contextual-links-wrapper {
  left: 5px;
  right: auto;
}
div.contextual-links-wrapper ul.contextual-links {
  -moz-border-radius: 0 4px 4px 4px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 4px;
  border-radius: 0 4px 4px 4px;
  left: 0;
  right: auto;
}
a.contextual-links-trigger {
  text-indent: -90px;
}


/*
 * modules/dashboard/dashboard.css
 */
/**
 * @file
 * Stylesheet for the Dashboard module.
 */

#dashboard div.dashboard-region {
  float: left;
  min-height: 1px;
}

#dashboard div#dashboard_main {
  width: 65%;
  margin-right: 1%; /* LTR */
}

#dashboard div#dashboard_sidebar {
  width: 33%;
}

#dashboard div.block {
  margin-bottom: 20px;
}

#dashboard .dashboard-region .block {
  clear: both;
}

#dashboard div.block h2 {
  float: none;
}

#dashboard #disabled-blocks .block,
#dashboard .block-placeholder {
  background: #e2e1dc;
  padding: 6px 4px 6px 8px; /* LTR */
  margin: 3px 3px 3px 0; /* LTR */
  float: left; /* LTR */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#dashboard .dashboard-add-other-blocks {
  margin: 10px 0 0 0;
}

#dashboard .ui-sortable {
  border: 2px dashed #ccc;
  padding: 10px;
}

#dashboard .canvas-content {
  padding: 10px;
}

#dashboard #disabled-blocks .ui-sortable {
  padding: 0;
  background-color: #777;
  border: 0;
}

#dashboard .canvas-content a.button {
  margin: 0 0 0 10px; /* LTR */
  color: #5a5a5a;
  text-decoration: none;
}

#dashboard .region {
  margin: 5px;
}

#dashboard #disabled-blocks .region {
  background-color: #E0E0D8;
  border: #ccc 1px solid;
  padding: 10px;
}

#dashboard #disabled-blocks {
  padding: 5px 0;
}

#dashboard #disabled-blocks h2 {
  display: inline;
  font-weight: normal;
  white-space: nowrap;
}

#dashboard #disabled-blocks .block {
  background: #444;
  color: #fff;
}

#dashboard.customize-inactive #disabled-blocks .block:hover {
  background: #0074BD;
}

#dashboard #disabled-blocks .block .content,
#dashboard .ui-sortable-helper .content {
  display: none;
}

#dashboard .ui-sortable .block {
  cursor: move;
  min-height: 1px;
}

#dashboard .ui-sortable .block h2 {
  background: transparent url(../../misc/draggable.png) no-repeat 0px -39px;
  padding: 0 17px;
}

#dashboard.customize-inactive #disabled-blocks .block:hover h2 {
  background: #0074BD url(../../misc/draggable.png) no-repeat 0px -39px;
  color: #fff;
}

#dashboard.customize-inactive .dashboard-region .ui-sortable .block:hover h2 {
  background: #0074BD url(../../misc/draggable.png) no-repeat;
  background-position: 3px -36px;
  color: #fff;
}

#dashboard .dashboard-region .block-placeholder {
  margin: 0 0 20px 0;
  padding: 0;
  display: block;
  height: 1.6em;
  width: 100%;
}

#dashboard #disabled-blocks .block-placeholder {
  width: 30px;
  height: 1.6em;
}


/*
 * modules/dashboard/dashboard-rtl.css
 */
/**
 * @file
 * Right-to-left specific stylesheet for the Dashboard module.
 */

#dashboard div.dashboard-region {
  float: right;
}
#dashboard #disabled-blocks .block, #dashboard .block-placeholder {
  float: right;
  margin: 3px 0 3px 3px;
  padding: 6px 8px 6px 4px;
}
#dashboard .canvas-content a.button {
  margin: 0 10px 0 0;
}
#dashboard .ui-sortable .block h2 {
  background-position: right -39px;
  padding: 0 19px;
}
#dashboard.customize-inactive #disabled-blocks .block:hover h2 {
  background-position: right -39px;
}
#dashboard.customize-inactive .dashboard-region .ui-sortable .block:hover h2 {
  background-position: right -36px;
}
#dashboard div#dashboard_main {
  margin-left: 1%;
  margin-right: 0;
}


/*
 * modules/dblog/dblog.css
 */
/**
 * @file
 * Admin styles for the Database Logging module.
 */

.form-item-type,
.form-item-severity {
  float: left; /* LTR */
  padding-right: .8em; /* LTR */
  margin: 0.1em;
  /**
   * In Opera 9, DOM elements with the property of "overflow: auto"
   * will partially hide its contents with unnecessary scrollbars when
   * its immediate child is floated without an explicit width set.
   */
  width: 15em;
}
#dblog-filter-form .form-type-select select {
  width: 100%;
}
#dblog-filter-form .form-actions {
  float: left;
  padding: 3ex 0 0 1em;
}

tr.dblog-user {
  background: #ffd;
}
tr.dblog-user .active {
  background: #eed;
}
tr.dblog-content {
  background: #ddf;
}
tr.dblog-content .active {
  background: #cce;
}
tr.dblog-page-not-found,
tr.dblog-access-denied {
  background: #dfd;
}
tr.dblog-page-not-found .active,
tr.dblog-access-denied .active {
  background: #cec;
}
tr.dblog-error {
  background: #ffc9c9;
}
tr.dblog-error .active {
  background: #eeb9b9;
}
table#admin-dblog td.icon {
  background: no-repeat center;
  width: 16px;
}
table#admin-dblog tr.dblog-warning td.icon {
  background-image: url(../../misc/message-16-warning.png);
}
table#admin-dblog tr.dblog-error td.icon,
table#admin-dblog tr.dblog-critical td.icon,
table#admin-dblog tr.dblog-alert td.icon,
table#admin-dblog tr.dblog-emerg td.icon {
  background-image: url(../../misc/message-16-error.png);
}


/*
 * modules/dblog/dblog-rtl.css
 */
/**
 * @file
 * Right-to-Left styling for the Database Logging module.
 */

.form-item-type,
.form-item-severity {
  float: right;
  padding-right: 0;
  padding-left: .8em;
}


/*
 * modules/field/theme/field.css
 */

/* Field display */
.field .field-label {
  font-weight: bold;
}
.field-label-inline .field-label,
.field-label-inline .field-items {
  float:left; /*LTR*/
}

/* Form display */
form .field-multiple-table {
  margin: 0;
}
form .field-multiple-table th.field-label {
  padding-left: 0; /*LTR*/
}
form .field-multiple-table td.field-multiple-drag {
  width: 30px;
  padding-right: 0; /*LTR*/
}
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
  padding-right: .5em; /*LTR*/
}

form .field-add-more-submit {
  margin: .5em 0 0;
}


/*
 * modules/field/theme/field-rtl.css
 */

form .field-multiple-table th.field-label {
  padding-right: 0;
}
form .field-multiple-table td.field-multiple-drag {
  padding-left: 0;
}
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle{
  padding-left: .5em;
}
.field-label-inline .field-label,
.field-label-inline .field-items {
  float: right;
}


/*
 * modules/field_ui/field_ui.css
 */
/**
 * @file
 * Stylesheet for the Field UI module.
 */
 
/* 'Manage fields' and 'Manage display' overviews */
table.field-ui-overview tr.add-new .label-input {
  float: left; /* LTR */
}
table.field-ui-overview tr.add-new .tabledrag-changed {
  display: none;
}
table.field-ui-overview tr.add-new .description {
  margin-bottom: 0;
  max-width: 250px;
}
table.field-ui-overview tr.add-new .form-type-machine-name .description {
  white-space: normal;
}
table.field-ui-overview tr.add-new .add-new-placeholder {
  font-weight: bold;
  padding-bottom: .5em;
}
table.field-ui-overview tr.region-title td {
  font-weight: bold;
}
table.field-ui-overview tr.region-message td {
  font-style: italic;
}
table.field-ui-overview tr.region-populated {
  display: none;
}
table.field-ui-overview tr.region-add-new-title {
  display: none;
}
table.field-ui-overview tr.add-new td {
  vertical-align: top;
  white-space: nowrap;
}

/* 'Manage display' overview */
#field-display-overview .field-formatter-summary-cell {
  line-height: 1em;
}
#field-display-overview .field-formatter-summary {
  float: left;
  font-size: 0.9em;
}
#field-display-overview td.field-formatter-summary-cell span.warning {
  display: block;
  float: left;
  margin-right: .5em;
}
#field-display-overview .field-formatter-settings-edit-wrapper {
  float: right;
}
#field-display-overview .field-formatter-settings-edit {
  float: right;
}
#field-display-overview tr.field-formatter-settings-editing td {
  vertical-align: top;
}
#field-display-overview tr.field-formatter-settings-editing .field-formatter-type {
  display: none;
}
#field-display-overview .field-formatter-settings-edit-form .formatter-name{
  font-weight: bold;
}
#field-ui-display-overview-form #edit-refresh {
  display:none;
}


/*
 * modules/field_ui/field_ui-rtl.css
 */
/**
 * @file
 * Right-to-left specific stylesheet for the Field UI module.
 */

/* 'Manage fields' overview */
table.field-ui-overview tr.add-new .label-input {
  float: right;
}


/*
 * modules/file/file.css
 */
/**
 * @file
 * Admin stylesheet for file module.
 */

/**
 * Managed file element styles.
 */
.form-managed-file .form-file,
.form-managed-file .form-submit {
  margin: 0;
}

.form-managed-file input.progress-disabled {
  float: none;
  display: inline;
}

.form-managed-file div.ajax-progress,
.form-managed-file div.throbber {
  display: inline;
  float: none;
  padding: 1px 5px 2px 5px;
}

.form-managed-file div.ajax-progress-bar {
  display: none;
  margin-top: 4px;
  width: 28em;
  padding: 0;
}

.form-managed-file div.ajax-progress-bar div.bar {
  margin: 0;
}


/*
 * modules/filter/filter.css
 */

.text-format-wrapper .form-item {
  margin-bottom: 0;
}
.filter-wrapper {
  border-top: 0;
  margin: 0;
  padding: 1.5em 0 1.5em;
}
.filter-wrapper .form-item {
  float: left;
  padding: 0 0 0.5em 1.5em;
}
.filter-wrapper .form-item label {
  display: inline;
}
.filter-help {
  float: right;
  padding: 0 1.5em 0.5em;
}
.filter-help p {
  margin: 0;
}
.filter-help a {
  background: transparent url(../../misc/help.png) right center no-repeat;
  padding: 0 20px;
}
.filter-guidelines {
  clear: left;
  padding: 0 1.5em;
}
.text-format-wrapper .description {
  margin-top: 0.5em;
}

#filter-order tr .form-item {
  padding: 0.5em 0 0 3em;
  white-space: normal;
}
#filter-order tr .form-type-checkbox .description {
  padding: 0 0 0 2.5em;
}
input#edit-filters-filter-html-settings-allowed-html {
  width: 100%;
}

.tips {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.9em;
}


/*
 * modules/forum/forum.css
 */
/**
 * @file
 * Styling for the Forum module.
 */

#forum .description {
  font-size: 0.9em;
  margin: 0.5em;
}
#forum td.created,
#forum td.posts,
#forum td.topics,
#forum td.last-reply,
#forum td.replies,
#forum td.pager {
  white-space: nowrap;
}

#forum td.forum .icon {
  background-image: url(../../misc/forum-icons.png);
  background-repeat: no-repeat;
  float: left; /* LTR */
  height: 24px;
  margin: 0 9px 0 0; /* LTR */
  width: 24px;
}
#forum td.forum .forum-status-new {
  background-position: -24px 0;
}

#forum div.indent {
  margin-left: 20px; /* LTR */
}
#forum .icon div {
  background-image: url(../../misc/forum-icons.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
#forum .icon .topic-status-new {
  background-position: -24px 0;
}
#forum .icon .topic-status-hot {
  background-position: -48px 0;
}
#forum .icon .topic-status-hot-new {
  background-position: -72px 0;
}
#forum .icon .topic-status-sticky {
  background-position: -96px 0;
}
#forum .icon .topic-status-closed {
  background-position: -120px 0;
}


/*
 * modules/forum/forum-rtl.css
 */
/**
 * @file
 * Right-to-left styling for the Forum module.
 */

#forum td.forum .icon {
  float: right;
  margin: 0 0 0 9px;
}
#forum div.indent {
  margin-left: 0;
  margin-right: 20px;
}
.forum-topic-navigation {
  padding: 1em 3em 0 0;
}
.forum-topic-navigation .topic-previous {
  text-align: left;
  float: right;
}
.forum-topic-navigation .topic-next {
  text-align: right;
  float: left;
}


/*
 * modules/help/help.css
 */

.help-items {
  float: left; /* LTR */
  width: 22%;
  padding-right: 3%; /* LTR */
}
.help-items-last {
  padding-right: 0; /* LTR */
}


/*
 * modules/help/help-rtl.css
 */

.help-items {
  float: right;
  padding-right: 0;
  padding-left: 3%;
}
.help-items-last {
  padding-right: 0;
  padding-left: 0;
}


/*
 * modules/image/image.admin.css
 */

/**
 * Image style configuration pages.
 */
div.image-style-new,
div.image-style-new div {
  display: inline;
}
div.image-style-preview div.preview-image-wrapper {
  float: left;
  padding-bottom: 2em;
  text-align: center;
  top: 50%;
  width: 48%;
}
div.image-style-preview div.preview-image {
  margin: auto;
  position: relative;
}
div.image-style-preview div.preview-image div.width {
  border: 1px solid #666;
  border-top: none;
  height: 2px;
  left: -1px;
  bottom: -6px;
  position: absolute;
}
div.image-style-preview div.preview-image div.width span {
  position: relative;
  top: 4px;
}
div.image-style-preview div.preview-image div.height {
  border: 1px solid #666;
  border-left: none;
  position: absolute;
  right: -6px;
  top: -1px;
  width: 2px;
}
div.image-style-preview div.preview-image div.height span {
  height: 2em;
  left: 10px;
  margin-top: -1em;
  position: absolute;
  top: 50%;
}

/**
 * Image anchor element.
 */
table.image-anchor {
  width: auto;
}
table.image-anchor tr.even,
table.image-anchor tr.odd {
  background: none;
}
table.image-anchor td {
  border: 1px solid #CCC;
}


/*
 * modules/image/image.css
 */

/**
 * Image upload widget.
 */
div.image-preview {
  float: left; /* LTR */
  padding: 0 10px 10px 0; /* LTR */
}
div.image-widget-data {
  float: left; /* LTR */
}
div.image-widget-data input.text-field {
  width: auto;
}


/*
 * modules/image/image-rtl.css
 */

/**
 * Image upload widget.
 */
div.image-preview {
  float: right;
  padding: 0 0 10px 10px;
}
div.image-widget-data {
  float: right;
}


/*
 * modules/locale/locale.css
 */

.locale-untranslated {
  font-style: normal;
  text-decoration: line-through;
}

#locale-translation-filter-form .form-item-language,
#locale-translation-filter-form .form-item-translation,
#locale-translation-filter-form .form-item-group {
  float: left; /* LTR */
  padding-right: .8em; /* LTR */
  margin: 0.1em;
  /**
   * In Opera 9, DOM elements with the property of "overflow: auto"
   * will partially hide its contents with unnecessary scrollbars when
   * its immediate child is floated without an explicit width set.
   */
  width: 15em;
}
#locale-translation-filter-form .form-type-select select {
  width: 100%;
}
#locale-translation-filter-form .form-actions {
  float: left; /* LTR */
  padding: 3ex 0 0 1em; /* LTR */
}
.language-switcher-locale-session a.active {
  color: #0062A0;
}
.language-switcher-locale-session a.session-active {
  color: #000000;
}


/*
 * modules/locale/locale-rtl.css
 */

#locale-translation-filter-form .form-item-language,
#locale-translation-filter-form .form-item-translation,
#locale-translation-filter-form .form-item-group {
  float: right;
  padding-left: .8em;
  padding-right: 0;
}
#locale-translation-filter-form .form-actions {
  float: right;
  padding: 3ex 1em 0 0;
}


/*
 * modules/menu/menu.css
 */

.menu-operations {
  width: 100px;
}

.menu-enabled {
  width: 70px;
}

.menu-enabled input {
  margin-left:25px;
}


/*
 * modules/node/node.css
 */

.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}


/*
 * modules/openid/openid.css
 */

#edit-openid-identifier {
  background-image: url("login-bg.png");
  background-position: left 50%; /* LTR */
  background-repeat: no-repeat;
  padding-left: 20px; /* LTR */
}
div.form-item-openid-identifier {
  display: block;
}
html.js #user-login-form div.form-item-openid-identifier,
html.js #user-login div.form-item-openid-identifier {
  display: none;
}
#user-login-form ul {
  margin-top: 0;
}
#user-login ul {
  margin: 0 0 5px;
}
#user-login ul li {
  margin: 0;
}
#user-login-form .openid-links {
  padding-bottom: 0;
}
#user-login .openid-links {
  padding-left: 0; /* LTR */
}
#user-login-form .openid-links li,
#user-login .openid-links li {
  display: none;
  list-style: none;
}
html.js #user-login-form li.openid-link,
html.js #user-login li.openid-link {
  display: block;
  margin-left: 0; /* LTR */
}
#user-login-form li.openid-link a,
#user-login li.openid-link a {
  background-image: url("login-bg.png");
  background-position: left top; /* LTR */
  background-repeat: no-repeat;
  padding: 0 0 0 1.5em; /* LTR */
}


/*
 * modules/openid/openid-rtl.css
 */

#edit-openid-identifier {
  background-position: right 50%;
  padding-left: 0;
  padding-right: 20px;
}
#user-login .openid-links {
  padding-right: 0;
}
html.js #user-login-form li.openid-link,
html.js #user-login li.openid-link {
  margin-right: 0;
}
#user-login-form li.openid-link a,
#user-login li.openid-link a {
  background-position: right top;
  padding: 0 1.5em 0 0;
}


/*
 * modules/overlay/overlay-child.css
 */

/**
 * @file
 * Basic styling for the Overlay child pages.
 */

html.js {
  background: transparent !important;
  overflow-y: scroll;
}
html.js body {
  background: transparent !important;
  margin-left: 0;
  margin-right: 0;
  padding: 20px 0;
}

#overlay {
  display: table;
  margin: 0 auto;
  min-height: 100px;
  min-width: 700px;
  position: relative;
  padding: .2em;
  padding-bottom: 2em;
  padding-right: 26px; /* LTR */
  width: 88%;
}
#overlay-titlebar {
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  z-index: 100;
}
#overlay-content {
  background: #fff;
  clear: both;
  color: #000;
  padding: .5em 1em;
  position: relative;
}

#overlay-title-wrapper {
  overflow: hidden;
}
#overlay-title {
  color: #fff;
  float: left; /* LTR */
  font-size: 20px;
  margin: 0;
  padding: 0.3em 0;
}
#overlay-title:active,
#overlay-title:focus {
  outline: 0;
}

.overlay #skip-link {
  margin-top: -20px;
}
.overlay #skip-link a {
  color: #fff; /* This is white to contrast with the dark background behind it. */
}

#overlay-close-wrapper {
  position: absolute;
  right: 0; /* LTR */
}
#overlay-close,
#overlay-close:hover {
  background: transparent url(images/close.png) no-repeat; /* LTR */
  -moz-border-radius-topleft: 0; /* LTR */
  -webkit-border-top-left-radius: 0; /* LTR */
  border-top-left-radius: 0; /* LTR */
  display: block;
  height: 26px;
  margin: 0;
  padding: 0;
  /* Replace with position:fixed to get a scrolling close button. */
  position: absolute;
  width: 26px;
}

/**
 * Tabs on the overlay.
 */
#overlay-tabs {
  line-height: 27px;
  margin: -28px 0 0 0;
  position: absolute;
  right: 20px; /* LTR */
  text-transform: uppercase;
}
#overlay-tabs li {
  display: inline;
  list-style: none;
  margin: 0 0 0 -3px; /* LTR */
  padding: 0;
}
#overlay-tabs li a,
#overlay-tabs li a:active,
#overlay-tabs li a:visited,
#overlay-tabs li a:hover {
  background-color: #a6a7a2;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-radius: 8px 8px 0 0;
  color: #000;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  margin: 0 0 2px 0;
  outline: 0;
  padding: 0 14px;
  text-decoration: none;
}
#overlay-tabs li.active a,
#overlay-tabs li.active a.active,
#overlay-tabs li.active a:active,
#overlay-tabs li.active a:visited {
  background-color: #fff;
  margin: 0;
  padding-bottom: 2px;
}
#overlay-tabs li a:focus,
#overlay-tabs li a:hover {
  color: #fff;
}
#overlay-tabs li.active a:focus,
#overlay-tabs li.active a:hover {
  color: #000;
}

/**
 * Add to shortcuts link
 */
#overlay-titlebar .add-or-remove-shortcuts {
  padding-top: 0.9em;
}

/**
 * IE6 shows elements with position:fixed as position:static so replace
 * it with position:absolute;
 */
* html #overlay-close,
* html #overlay-close:hover {
  position: absolute;
}

/**
 * Disable message.
 */
#overlay-disable-message {
  background-color: #fff;
  margin: -20px auto 20px;
  width: 80%;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-radius: 0 0 8px 8px;
}
.overlay-disable-message-focused {
  padding: 0.5em;
}
.overlay-disable-message-focused a {
  display: block;
  float: left;
}
.overlay-disable-message-focused #overlay-dismiss-message {
  float: right;
}


/*
 * modules/overlay/overlay-child-rtl.css
 */

/**
 * @file
 * RTL styling for Overlay child pages.
 */

html {
  direction: rtl;
}

#overlay-title {
  float: right;
  left: auto;
}
#overlay {
  padding: 0.2em;
  padding-left: 26px;
}
#overlay-close-wrapper {
  left: 0;
  right: auto;
}
#overlay-close,
#overlay-close:hover {
  background: transparent url(images/close-rtl.png) no-repeat;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

/**
 * Tabs on the overlay.
 */
#overlay-tabs {
  left: 20px;
  right: auto;
}
#overlay-tabs li {
  margin: 0 -3px 0 0;
}


/*
 * modules/overlay/overlay-parent.css
 */

/**
 * @file
 * Basic styling for the Overlay module.
 */

html.overlay-open,
html.overlay-open body {
  height: 100%;
  overflow: hidden;
}

#overlay-container,
.overlay-modal-background,
.overlay-element {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;
}

.overlay-modal-background {
  /* Using a transparent png renders faster than using opacity */
  background: transparent url(images/background.png) repeat;
}

.overlay-element {
  background: transparent;
  left: -200%;
  z-index: 501;
}
.overlay-element.overlay-active {
  left: 0;
}

html.overlay-open .displace-top,
html.overlay-open .displace-bottom {
  z-index: 600;
}

/**
 * Within the overlay parent, the message about disabling the overlay is for
 * screen-reader users only. It is always kept invisible with the
 * element-invisible class, and removed from the tab order. Overlay-child.css
 * contains styling for the same message appearing within the overlay, and
 * intended for sighted users.
 */
#overlay-disable-message {
  display: none;
}
html.overlay-open #overlay-disable-message {
  display: block;
}


/*
 * modules/poll/poll.css
 */

.poll {
  overflow: hidden;
}
.poll .bar {
  height: 1em;
  margin: 1px 0;
  background-color: #ddd;
}
.poll .bar .foreground {
  background-color: #000;
  height: 1em;
  float: left; /* LTR */
}
.poll .links {
  text-align: center;
}
.poll .percent {
  text-align: right; /* LTR */
}
.poll .total {
  text-align: center;
}
.poll .vote-form {
  text-align: center;
}
.poll .vote-form .choices {
  text-align: left; /* LTR */
  margin: 0 auto;
  display: table;
}
.poll .vote-form .choices .title {
  font-weight: bold;
}
.node-form #edit-poll-more {
  margin: 0;
}
.node-form #poll-choice-table .form-text {
  display: inline;
  width: auto;
}
.node-form #poll-choice-table td.choice-flag {
  white-space: nowrap;
  width: 4em;
}
td.poll-chtext {
  width: 80%;
}
td.poll-chvotes .form-text {
  width: 85%;
}


/*
 * modules/poll/poll-rtl.css
 */

.poll .bar .foreground {
  float: right;
}
.poll .percent {
  text-align: left;
}
.poll .vote-form .choices {
  text-align: right;
}


/*
 * modules/profile/profile.css
 */

#profile-fields td.category {
  font-weight: bold;
}
#profile-fields tr.category-message {
  color: #999;
}
#profile-fields tr.category-populated {
  display: none;
}


/*
 * modules/search/search.css
 */

.search-form {
  margin-bottom: 1em;
}
.search-form input {
  margin-top: 0;
  margin-bottom: 0;
}
.search-results {
  list-style: none;
}
.search-results p {
  margin-top: 0;
}
.search-results .title {
  font-size: 1.2em;
}
.search-results li {
  margin-bottom: 1em;
}
.search-results .search-snippet-info {
  padding-left: 1em; /* LTR */
}
.search-results .search-info {
  font-size: 0.85em;
}
.search-advanced .criterion {
  float: left; /* LTR */
  margin-right: 2em; /* LTR */
}
.search-advanced .action {
  float: left; /* LTR */
  clear: left; /* LTR */
}


/*
 * modules/search/search-rtl.css
 */

.search-advanced .criterion {
  float: right;
  margin-right: 0;
  margin-left: 2em;
}
.search-advanced .action {
  float: right;
  clear: right;
}
.search-results .search-snippet-info {
  padding-right: 1em; /* LTR */
}

/*
 * modules/shortcut/shortcut.admin.css
 */

.shortcut-slot-hidden {
  display: none;
}

div.form-item-set div.form-item-new {
  display: inline;
}


/*
 * modules/shortcut/shortcut.css
 */
div#toolbar a#edit-shortcuts {
  float: right;
  padding: 5px 10px 5px 5px;
  line-height: 24px;
  color: #fefefe;
}
div#toolbar a#edit-shortcuts:focus,
div#toolbar a#edit-shortcuts:hover,
div#toolbar a#edit-shortcuts.active {
  color: #fff;
  text-decoration: underline;
}

div#toolbar div.toolbar-shortcuts ul {
  padding: 5px 0 2px 0;
  height: 28px;
  line-height: 24px;
  float: left; /* LTR */
  margin-left:5px; /* LTR */
}

div#toolbar div.toolbar-shortcuts ul li a {
  padding: 0 5px 0 5px;
  margin-right: 5px; /* LTR */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div#toolbar div.toolbar-shortcuts ul li a:focus,
div#toolbar div.toolbar-shortcuts ul li a:hover,
div#toolbar div.toolbar-shortcuts ul li a.active:focus {
  background: #555;
}

div#toolbar div.toolbar-shortcuts ul li a.active:hover,
div#toolbar div.toolbar-shortcuts ul li a.active {
  background: #000;
}

div#toolbar div.toolbar-shortcuts span.icon {
  float: left; /* LTR */
  background: #444;
  width: 30px;
  height: 30px;
  margin-right: 5px; /* LTR */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div.add-or-remove-shortcuts {
  padding-top: 5px;
}

div.add-or-remove-shortcuts a span.icon {
  display: block;
  width: 12px;
  background: transparent url(shortcut.png) no-repeat scroll 0 0;
  height: 12px;
  float: left;
  margin-left:8px;
}

div.add-shortcut a:focus span.icon,
div.add-shortcut a:hover span.icon {
  background-position: 0 -12px;
}
div.remove-shortcut a span.icon {
  background-position: -12px 0;
}
div.remove-shortcut a:focus span.icon,
div.remove-shortcut a:hover span.icon {
  background-position: -12px -12px;
}

div.add-or-remove-shortcuts a span.text {
  float: left;
  padding-left:10px;
  display: none;
}

div.add-or-remove-shortcuts a:focus span.text,
div.add-or-remove-shortcuts a:hover span.text {
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  background-color: #5f605b;
  display: block;
  padding-right: 6px; /* LTR */
  cursor: pointer;
  -moz-border-radius: 0 5px 5px 0; /* LTR */
  -webkit-border-top-right-radius: 5px; /* LTR */
  -webkit-border-bottom-right-radius: 5px; /* LTR */
  border-radius: 0 5px 5px 0; /* LTR */
}

#shortcut-set-switch .form-type-radios {
  padding-bottom: 0;
  margin-bottom: 0;
}

#shortcut-set-switch .form-item-new {
  padding-top: 0;
  padding-left: 17px; /* LTR */
}


/*
 * modules/shortcut/shortcut-rtl.css
 */

div#toolbar a#edit-shortcuts {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 5px 5px 10px;
}
div#toolbar div.toolbar-shortcuts ul {
  float: none;
  margin-right: 5px;
  margin-left: 10em;
}
div#toolbar div.toolbar-shortcuts ul li a {
  margin-left: 5px;
  margin-right: 0;
  padding: 0 5px;
}
div#toolbar div.toolbar-shortcuts span.icon {
  float: right;
}
div.add-or-remove-shortcuts a span.icon {
  float: right;
  margin-right: 8px;
  margin-left: 0;
}
div.add-or-remove-shortcuts a span.text {
  float: right;
  padding-right: 10px;
  padding-left: 0;
}
div.add-or-remove-shortcuts a:focus span.text,
div.add-or-remove-shortcuts a:hover span.text {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-radius: 5px 0 0 5px;
  padding-left: 6px;
}
#shortcut-set-switch .form-item-new {
  padding-right: 17px;
  padding-left: 0;
}
div.add-shortcut a:hover span.icon {
  background-position: 0 -24px;
}
div.remove-shortcut a:hover span.icon {
  background-position: -12px -24px;
}


/*
 * modules/simpletest/simpletest.css
 */

/* Test Table */
#simpletest-form-table th.select-all {
  width: 1em;
}
th.simpletest_test {
  width: 16em;
}

.simpletest-image {
  display: inline-block;
  cursor: pointer;
  width: 1em;
}
.simpletest-group-label label {
  display: inline;
  font-weight: bold;
}
.simpletest-test-label label {
  margin-left: 1em; /* LTR */
}
.simpletest-test-description .description {
  margin: 0;
}
#simpletest-form-table tr td {
  background-color: white;
  color: #494949;
}
#simpletest-form-table tr.simpletest-group td {
  background-color: #EDF5FA;
  color: #494949;
}

table#simpletest-form-table tr.simpletest-group label {
  display: inline;
}

div.message > div.item-list {
  font-weight: normal;
}

div.simpletest-pass {
  color: #33a333;
}
.simpletest-fail {
  color: #981010;
}

tr.simpletest-pass.odd {
  background-color: #b6ffb6;
}
tr.simpletest-pass.even {
  background-color: #9bff9b;
}
tr.simpletest-fail.odd {
  background-color: #ffc9c9;
}
tr.simpletest-fail.even {
  background-color: #ffacac;
}
tr.simpletest-exception.odd {
  background-color: #f4ea71;
}
tr.simpletest-exception.even {
  background-color: #f5e742;
}
tr.simpletest-debug.odd {
  background-color: #eee;
}
tr.simpletest-debug.even {
  background-color: #fff;
}

a.simpletest-collapse {
  height: 0;
  width: 0;
  top: -99em;
  position: absolute;
}
a.simpletest-collapse:focus,
a.simpletest-collapse:hover {
  font-size: 80%;
  top: 0px;
  height: auto;
  width: auto;
  overflow: visible;
  position: relative;
  z-index: 1000;
}


/*
 * modules/system/system.admin.css
 */

/**
 * @file
 * Styles for administration pages.
 */

/**
 * Administration blocks.
 */
div.admin-panel {
  margin: 0;
  padding: 5px 5px 15px 5px;
}
div.admin-panel .description {
  margin: 0 0 3px;
  padding: 2px 0 3px 0;
}
div.admin-panel .body {
  padding: 0 4px 2px 8px; /* LTR */
}
div.admin {
  padding-top: 15px;
}
div.admin .left {
  float: left; /* LTR */
  width: 47%;
  margin-left: 1em; /* LTR */
}
div.admin .right {
  float: right; /* LTR */
  width: 47%;
  margin-right: 1em; /* LTR */
}
div.admin .expert-link {
  text-align: right; /* LTR */
  margin-right: 1em; /* LTR */
  padding-right: 4px; /* LTR */
}

/**
 * Markup generated by theme_system_compact_link().
 */
.compact-link {
  margin: 0 0 0.5em 0;
}

/**
 * Quick inline admin links.
 */
small .admin-link:before {
  content: '[';
}
small .admin-link:after {
  content: ']';
}

/**
 * Modules page.
 */
#system-modules div.incompatible {
  font-weight: bold;
}
div.admin-requirements,
div.admin-required {
  font-size: 0.9em;
  color: #444;
}
span.admin-disabled {
  color: #800;
}
span.admin-enabled {
  color: #080;
}
span.admin-missing {
  color: #f00;
}
a.module-link {
  display: block;
  padding: 1px 0 1px 20px; /* LTR */
  white-space: nowrap;
}
a.module-link-help {
  background: url(../../misc/help.png) 0 50% no-repeat; /* LTR */
}
a.module-link-permissions {
  background: url(../../misc/permissions.png) 0 50% no-repeat; /* LTR */
}
a.module-link-configure {
  background: url(../../misc/configure.png) 0 50% no-repeat; /* LTR */
}
.module-help {
  margin-left: 1em; /* LTR */
  float: right; /* LTR */
}

/**
 * Status report.
 */
table.system-status-report td {
  padding: 6px;
  vertical-align: middle;
}
table.system-status-report tr.merge-up td {
  padding: 0 6px 8px 28px; /* LTR */
}
table.system-status-report td.status-icon {
  width: 16px;
  padding-right: 0; /* LTR */
}
table.system-status-report td.status-icon div {
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}
table.system-status-report tr.error td.status-icon div {
  background-image: url(../../misc/message-16-error.png);
}
table.system-status-report tr.warning td.status-icon div {
  background-image: url(../../misc/message-16-warning.png);
}
tr.merge-down,
tr.merge-down td {
  border-bottom-width: 0 !important;
}
tr.merge-up,
tr.merge-up td {
  border-top-width: 0 !important;
}

/**
 * Theme settings.
 */
.theme-settings-left {
  float: left;
  width: 49%;
}
.theme-settings-right {
  float: right;
  width: 49%;
}
.theme-settings-bottom {
  clear: both;
}

/**
 * Appearance page.
 */
table.screenshot {
  margin-right: 1em; /* LTR */
}
.theme-info h2 {
  margin-bottom: 0;
}
.theme-info p {
  margin-top: 0;
}
.system-themes-list {
  margin-bottom: 20px;
}
.system-themes-list-disabled {
  border-top: 1px solid #cdcdcd;
  padding-top: 20px;
}
.system-themes-list h2 {
  margin: 0;
}
.theme-selector {
  padding-top: 20px;
}
.theme-selector .screenshot,
.theme-selector .no-screenshot {
  border: 1px solid #e0e0d8;
  padding: 2px;
  vertical-align: bottom;
  width: 294px;
  height: 219px;
  line-height: 219px;
  text-align: center;
}
.theme-default .screenshot {
  border: 1px solid #aaa;
}
.system-themes-list-enabled .theme-selector .screenshot,
.system-themes-list-enabled .theme-selector .no-screenshot {
  float: left; /* LTR */
  margin: 0 20px 0 0; /* LTR */
}
.system-themes-list-disabled .theme-selector .screenshot,
.system-themes-list-disabled .theme-selector .no-screenshot {
  width: 194px;
  height: 144px;
  line-height: 144px;
}
.theme-selector h3 {
  font-weight: normal;
}
.theme-default h3 {
  font-weight: bold;
}
.system-themes-list-enabled .theme-selector h3 {
  margin-top: 0;
}
.system-themes-list-disabled .theme-selector {
  width: 300px;
  float: left; /* LTR */
  padding: 20px 20px 20px 0; /* LTR */
}
.system-themes-list-enabled .theme-info {
  max-width: 940px;
}
.system-themes-list-disabled .theme-info {
  min-height: 170px;
}
.theme-selector .incompatible {
  margin-top: 10px;
  font-weight: bold;
}
.theme-selector .operations {
  margin: 10px 0 0 0;
  padding: 0;
}
.theme-selector .operations li {
  float: left; /* LTR */
  margin: 0;
  padding: 0 0.7em;
  list-style-type: none;
  border-right: 1px solid #cdcdcd;  /* LTR */
}
.theme-selector .operations li.last {
  padding: 0 0 0 0.7em; /* LTR */
  border-right: none; /* LTR */
}
.theme-selector .operations li.first {
  padding: 0 0.7em 0 0; /* LTR */
}
#system-themes-admin-form {
  clear: left;
}

/**
 * Exposed filters.
 */
.exposed-filters .filters {
  float: left; /* LTR */
  margin-right: 1em; /* LTR */
  width: 25em; /* IE6 */
}
.exposed-filters .form-item {
  margin: 0 0 0.1em 0;
  padding: 0;
}
.exposed-filters .form-item label {
  float: left; /* LTR */
  font-weight: normal;
  width: 10em;
}
.exposed-filters .form-select {
  width: 14em;
}
/* Current filters */
.exposed-filters .current-filters {
  margin-bottom: 1em;
}
.exposed-filters .current-filters .placeholder {
  font-style: normal;
  font-weight: bold;
}
.exposed-filters .additional-filters {
  float: left; /* LTR */
  margin-right: 1em; /* LTR */
}


/*
 * modules/system/system.admin-rtl.css
 */

/**
 * @file
 * RTL styles for administration pages.
 */

/**
 * Administration blocks.
 */
div.admin-panel .body {
  padding: 0 8px 2px 4px;
}
div.admin .left {
  float: right;
  margin-left: 0;
  margin-right: 1em;
}
div.admin .right {
  float: left;
  margin-left: 1em;
  margin-right: 0;
}
div.admin .expert-link {
  margin-right: 0;
  margin-left: 1em;
  padding-right: 0;
  padding-left: 4px;
  text-align: left;
}

/**
 * Status report.
 */
table.system-status-report td.status-icon {
  padding-left: 0;
  padding-right: 6px;
}
table.system-status-report tr.merge-up td {
  padding: 0 28px 8px 6px;
}

/**
 * Appearance page.
 */
table.screenshot {
  margin-left: 1em;
}
.system-themes-list-enabled .theme-selector .screenshot,
.system-themes-list-enabled .theme-selector .no-screenshot {
  float: right;
  margin: 0 0 0 20px;
}
.system-themes-list-disabled .theme-selector {
  float: right;
  padding: 20px 0 20px 20px;
}
.theme-selector .operations li {
  border-right: none;
  border-left: 1px solid #cdcdcd;
  float: right;
}
.theme-selector .operations li.last {
  border-left: none;
  padding: 0 0.7em 0 0;
}
.theme-selector .operations li.first {
  padding: 0 0 0 0.7em;
}

/**
 * Exposed filters.
 */
.exposed-filters .filters {
  float: right;
  margin-left: 1em;
  margin-right: 0;
}
.exposed-filters .form-item label {
  float: right;
}
/* Current filters */
.exposed-filters .additional-filters {
  float: right;
  margin-left: 1em;
  margin-right: 0;
}


/*
 * modules/system/system.base.css
 */

/**
 * @file
 * Generic theme-independent base styles.
 */

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
#autocomplete li {
  background: #fff;
  color: #000;
  cursor: default;
  white-space: pre;
  zoom: 1; /* IE7 */
}
/* Animated throbber */
html.js input.form-autocomplete {
  background-image: url(../../misc/throbber.gif);
  background-position: 100% 2px; /* LTR */
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 100% -18px; /* LTR */
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
}
html.js fieldset.collapsed .fieldset-wrapper {
  display: none;
}
fieldset.collapsible {
  position: relative;
}
fieldset.collapsible .fieldset-legend {
  display: block;
}

/**
 * Resizable textareas.
 *
 * @see textarea.js
 */
.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.resizable-textarea .grippie {
  background: #eee url(../../misc/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
body.drag {
  cursor: move;
}
.draggable a.tabledrag-handle {
  cursor: move;
  float: left; /* LTR */
  height: 1.7em;
  margin-left: -1em; /* LTR */
  overflow: hidden;
  text-decoration: none;
}
a.tabledrag-handle:hover {
  text-decoration: none;
}
a.tabledrag-handle .handle {
  background: url(../../misc/draggable.png) no-repeat 6px 9px;
  height: 13px;
  margin: -0.4em 0.5em; /* LTR */
  padding: 0.42em 0.5em; /* LTR */
  width: 13px;
}
a.tabledrag-handle-hover .handle {
  background-position: 6px -11px;
}
div.indentation {
  float: left; /* LTR */
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em; /* LTR */
  padding: 0.42em 0 0.42em 0.6em; /* LTR */
  width: 20px;
}
div.tree-child {
  background: url(../../misc/tree.png) no-repeat 11px center; /* LTR */
}
div.tree-child-last {
  background: url(../../misc/tree-bottom.png) no-repeat 11px center; /* LTR */
}
div.tree-child-horizontal {
  background: url(../../misc/tree.png) no-repeat -11px center;
}
.tabledrag-toggle-weight-wrapper {
  text-align: right; /* LTR */
}

/**
 * TableHeader behavior.
 *
 * @see tableheader.js
 */
table.sticky-header {
  background-color: #fff;
  margin-top: 0;
}

/**
 * Progress behavior.
 *
 * @see progress.js
 */
/* Bar */
.progress .bar {
  background-color: #fff;
  border: 1px solid;
}
.progress .filled {
  background-color: #000;
  height: 1.5em;
  width: 5px;
}
.progress .percentage {
  float: right; /* LTR */
}
/* Throbber */
.ajax-progress {
  display: inline-block;
}
.ajax-progress .throbber {
  background: transparent url(../../misc/throbber.gif) no-repeat 0px -18px;
  float: left; /* LTR */
  height: 15px;
  margin: 2px;
  width: 15px;
}
.ajax-progress .message {
  padding-left: 20px;
}
tr .ajax-progress .throbber {
  margin: 0 2px;
}
.ajax-progress-bar {
  width: 16em;
}

/**
 * Inline items.
 */
.container-inline div,
.container-inline label {
  display: inline;
}
/* Fieldset contents always need to be rendered as block. */
.container-inline .fieldset-wrapper {
  display: block;
}

/**
 * Prevent text wrapping.
 */
.nowrap {
  white-space: nowrap;
}

/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
html.js .js-hide {
  display: none;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}



/*
 * modules/system/system.base-rtl.css
 */

/**
 * @file
 * Generic theme-independent base styles.
 */

/**
 * Autocomplete.
 */
/* Animated throbber */
html.js input.form-autocomplete {
  background-position: 0% 2px;
}
html.js input.throbbing {
  background-position: 0% -18px;
}

/**
 * Progress bar.
 */
.progress .percentage {
  float: left;
}
.progress-disabled {
  float: right;
}
.ajax-progress {
  float: right;
}
.ajax-progress .throbber {
  float: right;
}

/**
 * TableDrag behavior.
 */
.draggable a.tabledrag-handle {
  float: right;
  margin-right: -1em;
  margin-left: 0;
}
a.tabledrag-handle .handle {
  margin: -0.4em 0.5em;
  padding: 0.42em 0.5em;
}
div.indentation {
  float: right;
  margin: -0.4em -0.4em -0.4em 0.2em;
  padding: 0.42em 0.6em 0.42em 0;
}
div.tree-child,
div.tree-child-last {
  background-position: -65px center;
}
.tabledrag-toggle-weight-wrapper {
  text-align: left;
}



/*
 * modules/system/system.maintenance.css
 */

/**
 * Update styles
 */
#update-results {
  margin-top: 3em;
  padding: 0.25em;
  border: 1px solid #ccc;
  background: #eee;
  font-size: smaller;
}
#update-results h2 {
  margin-top: 0.25em;
}
#update-results h4 {
  margin-bottom: 0.25em;
}
#update-results li.none {
  color: #888;
  font-style: italic;
}
#update-results li.failure strong {
  color: #b63300;
}

/**
 * Authorize.php styles
 */
.connection-settings-update-filetransfer-default-wrapper {
  float: left;
}
#edit-submit-connection {
  clear: both;
}
.filetransfer {
  display: none;
  clear: both;
}
#edit-connection-settings-change-connection-type {
  margin: 2.6em 0.5em 0em 1em;
}

/**
 * Installation task list
 */
ol.task-list li.active {
  font-weight: bold;
}

/**
 * Installation clean URLs
 */
#clean-url.install {
  display: none;
}


/*
 * modules/system/system.menus.css
 */

/**
 * @file
 * Styles for menus and navigation markup.
 */

/**
 * Markup generated by theme_menu_tree().
 */
ul.menu {
  border: none;
  list-style: none;
  text-align: left; /* LTR */
}
ul.menu li {
  margin: 0 0 0 0.5em; /* LTR */
}
ul li.expanded {
  list-style-image: url(../../misc/menu-expanded.png);
  list-style-type: circle;
}
ul li.collapsed {
  list-style-image: url(../../misc/menu-collapsed.png); /* LTR */
  list-style-type: disc;
}
ul li.leaf {
  list-style-image: url(../../misc/menu-leaf.png);
  list-style-type: square;
}
li.expanded,
li.collapsed,
li.leaf {
  padding: 0.2em 0.5em 0 0; /* LTR */
  margin: 0;
}
li a.active {
  color: #000;
}
td.menu-disabled {
  background: #ccc;
}

/**
 * Markup generated by theme_links().
 */
ul.inline,
ul.links.inline {
  display: inline;
  padding-left: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

/**
 * Markup generated by theme_breadcrumb().
 */
.breadcrumb {
  padding-bottom: 0.5em;
}

/**
 * Markup generated by theme_menu_local_tasks().
 */
ul.primary {
  border-bottom: 1px solid #bbb;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px;
  padding: 0 0 0 1em; /* LTR */
  white-space: nowrap;
}
ul.primary li {
  display: inline;
}
ul.primary li a {
  background-color: #ddd;
  border-color: #bbb;
  border-style: solid solid none solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em; /* LTR */
  padding: 0 1em;
  text-decoration: none;
}
ul.primary li.active a {
  background-color: #fff;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}
ul.primary li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom-color: #eee;
}
ul.secondary {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em;
  margin: 5px;
}
ul.secondary li {
  border-right: 1px solid #ccc; /* LTR */
  display: inline;
  padding: 0 1em;
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {
  border-bottom: 4px solid #999;
}


/*
 * modules/system/system.menus-rtl.css
 */

/**
 * @file
 * RTL styles for menus and navigation markup.
 */

ul.menu {
  text-align:right;
}
ul.menu li {
  margin: 0 0.5em 0 0;
}
ul li.collapsed {
  list-style-image: url(../../misc/menu-collapsed-rtl.png);
}
li.expanded,
li.collapsed,
li.leaf {
  padding: 0.2em 0 0 0.5em;
}

/**
 * Markup generated by theme_menu_local_tasks().
 */
ul.primary {
  padding: 0 1em 0 0;
}
ul.primary li a {
  margin-right: 5px;
  margin-left: 0.5em;
}
ul.secondary li {
  border-left: 1px solid #ccc;
  border-right: none;
  display: inline;
  padding: 0 1em;
}


/*
 * modules/system/system.messages.css
 */

/**
 * @file
 * Styles for system messages.
 */

div.messages {
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 6px 0;
  padding: 10px 10px 10px 50px; /* LTR */
}

div.status {
  background-image: url(../../misc/message-24-ok.png);
  border-color: #be7;
}
div.status,
.ok {
  color: #234600;
}
div.status,
table tr.ok {
  background-color: #f8fff0;
}

div.warning {
  background-image: url(../../misc/message-24-warning.png);
  border-color: #ed5;
}
div.warning,
.warning {
  color: #840;
}
div.warning,
table tr.warning {
  background-color: #fffce5;
}

div.error {
  background-image: url(../../misc/message-24-error.png);
  border-color: #ed541d;
}
div.error,
.error {
  color: #8c2e0b;
}
div.error,
table tr.error {
  background-color: #fef5f1;
}
div.error p.error {
  color: #333;
}

div.messages ul {
  margin: 0 0 0 1em; /* LTR */
  padding: 0;
}
div.messages ul li {
  list-style-image: none;
}


/*
 * modules/system/system.messages-rtl.css
 */

/**
 * @file
 * RTL Styles for system messages.
 */

div.messages {
  background-position: 99% 8px;
  padding: 10px 50px 10px 10px;
}
div.messages ul {
  margin: 0 1em 0 0;
}


/*
 * modules/system/system.theme.css
 */

/**
 * @file
 * Basic styling for common markup.
 */

/**
 * HTML elements.
 */
fieldset {
  margin-bottom: 1em;
  padding: 0.5em;
}
form {
  margin: 0;
  padding: 0;
}
hr {
  border: 1px solid gray;
  height: 1px;
}
img {
  border: 0;
}
table {
  border-collapse: collapse;
}
th {
  border-bottom: 3px solid #ccc;
  padding-right: 1em; /* LTR */
  text-align: left; /* LTR */
}
tbody {
  border-top: 1px solid #ccc;
}
tr.even,
tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}

/**
 * Markup generated by theme_tablesort_indicator().
 */
th.active img {
  display: inline;
}
td.active {
  background-color: #ddd;
}

/**
 * Markup generated by theme_item_list().
 */
.item-list .title {
  font-weight: bold;
}
.item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
}
.item-list ul li {
  margin: 0 0 0.25em 1.5em; /* LTR */
  padding: 0;
}

/**
 * Markup generated by Form API.
 */
.form-item,
.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}
tr.odd .form-item,
tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}
.form-item .description {
  font-size: 0.85em;
}
label {
  display: block;
  font-weight: bold;
}
label.option {
  display: inline;
  font-weight: normal;
}
.form-checkboxes .form-item,
.form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2.4em;
}
input.form-checkbox,
input.form-radio {
  vertical-align: middle;
}
.marker,
.form-required {
  color: #f00;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red;
}

/**
 * Inline items.
 */
.container-inline .form-actions,
.container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Markup generated by theme_more_link().
 */
.more-link {
  text-align: right; /* LTR */
}

/**
 * Markup generated by theme_more_help_link().
 */
.more-help-link {
  text-align: right; /* LTR */
}
.more-help-link a {
  background: url(../../misc/help.png) 0 50% no-repeat; /* LTR */
  padding: 1px 0 1px 20px; /* LTR */
}

/**
 * Markup generated by theme_pager().
 */
.item-list .pager {
  clear: both;
  text-align: center;
}
.item-list .pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: 0.5em;
}
.pager-current {
  font-weight: bold;
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
#autocomplete li.selected {
  background: #0072b9;
  color: #fff;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
html.js fieldset.collapsible .fieldset-legend {
  background: url(../../misc/menu-expanded.png) 5px 65% no-repeat; /* LTR */
  padding-left: 15px; /* LTR */
}
html.js fieldset.collapsed .fieldset-legend {
  background-image: url(../../misc/menu-collapsed.png); /* LTR */
  background-position: 5px 50%; /* LTR */
}
.fieldset-legend span.summary {
  color: #999;
  font-size: 0.9em;
  margin-left: 0.5em;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
tr.drag {
  background-color: #fffff0;
}
tr.drag-previous {
  background-color: #ffd;
}
.tabledrag-toggle-weight {
  font-size: 0.9em;
}
body div.tabledrag-changed-warning {
  margin-bottom: 0.5em;
}

/**
 * TableSelect behavior.
 *
 * @see tableselect.js
*/
tr.selected td {
  background: #ffc;
}
td.checkbox,
th.checkbox {
  text-align: center;
}

/**
 * Progress bar.
 *
 * @see progress.js
 */
.progress {
  font-weight: bold;
}
.progress .bar {
  background: #ccc;
  border-color: #666;
  margin: 0 0.2em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.progress .filled {
  background: #0072b9 url(../../misc/progress.gif);
}


/*
 * modules/system/system.theme-rtl.css
 */

/**
 * @file
 * RTL styles for common markup.
 */

/**
 * HTML elements.
 */
th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}

/**
 * Markup generated by theme_item_list().
 */
.item-list ul li {
  margin: 0 1.5em 0.25em 0;
}

/**
 * Markup generated by theme_more_link().
 */
.more-link {
  text-align: left;
}

/**
 * Markup generated by theme_more_help_link().
 */
.more-help-link {
  text-align: left;
}
.more-help-link a {
  background-position: 100% 50%;
  padding: 1px 20px 1px 0;
}

/**
 * Collapsible fieldsets.
 */
html.js fieldset.collapsible .fieldset-legend {
  background-position: 98% 75%;
  padding-left: 0;
  padding-right: 15px;
}
html.js fieldset.collapsed .fieldset-legend {
  background-image: url(../../misc/menu-collapsed-rtl.png);
  background-position: 98% 50%;
}



/*
 * modules/taxonomy/taxonomy.css
 */

tr.taxonomy-term-preview {
  background-color: #EEE;
}
tr.taxonomy-term-divider-top {
  border-bottom: none;
}
tr.taxonomy-term-divider-bottom {
  border-top: 1px dotted #CCC;
}
.taxonomy-term-description {
  margin: 5px 0 20px;
}


/*
 * modules/toolbar/toolbar.css
 */

body.toolbar {
  padding-top: 2.2em;
}
body.toolbar-drawer {
  padding-top: 5.3em;
}

/**
 * Aggressive resets so we can achieve a consistent look in hostile CSS
 * environments.
 */
#toolbar,
#toolbar * {
  border: 0;
  font-size: 100%;
  line-height: inherit;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: left; /* LTR */
  vertical-align: baseline;
}

/**
 * Base styles.
 *
 * We use a keyword for the toolbar font size to make it display consistently
 * across different themes, while still allowing browsers to resize the text.
 */
#toolbar {
  background: #666;
  color: #ccc;
  font: normal small "Lucida Grande", Verdana, sans-serif;
  left: 0;
  margin: 0 -20px;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  -moz-box-shadow: 0 3px 20px #000;
  -webkit-box-shadow: 0 3px 20px #000;
  box-shadow: 0 3px 20px #000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='10');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='10')";
  z-index: 600;
}
#toolbar div.collapsed {
  display: none;
  visibility: hidden;
}
#toolbar a {
  color: #fff;
  font-size: .846em;
  text-decoration: none;
}
#toolbar ul li,
#toolbar ul li a {
  float: left; /* LTR */
}

/**
 * Administration menu.
 */
#toolbar div.toolbar-menu {
  background: #000;
  line-height: 20px;
  padding: 5px 50px 5px 10px; /* LTR */
  position: relative;
}
#toolbar-home a span {
  background: url(toolbar.png) no-repeat 0 -45px;
  display: block;
  height: 14px;
  margin: 3px 0px;
  text-indent: -9999px;
  vertical-align: text-bottom;
  width: 11px;
}
#toolbar-user {
  float: right; /* LTR */
}
#toolbar-menu {
  float: left; /* LTR */
}
#toolbar div.toolbar-menu a.toggle {
  background: url(toolbar.png) 0 -20px no-repeat;
  bottom: 0;
  cursor: pointer;
  height: 25px;
  overflow: hidden;
  position: absolute;
  right: 10px; /* LTR */
  text-indent: -9999px;
  width: 25px;
}
#toolbar div.toolbar-menu a.toggle:focus,
#toolbar div.toolbar-menu a.toggle:hover {
  background-position:  -50px -20px;
}
#toolbar div.toolbar-menu a.toggle-active {
  background-position:  -25px -20px;
}
#toolbar div.toolbar-menu a.toggle-active.toggle:focus,
#toolbar div.toolbar-menu a.toggle-active.toggle:hover {
  background-position:  -75px -20px;
}
#toolbar div.toolbar-menu ul li a {
  padding: 0 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#toolbar div.toolbar-menu ul li a:focus,
#toolbar div.toolbar-menu ul li a:hover,
#toolbar div.toolbar-menu ul li a:active,
#toolbar div.toolbar-menu ul li a.active:focus {
  background: #444;
}
#toolbar div.toolbar-menu ul li a.active:hover,
#toolbar div.toolbar-menu ul li a.active:active,
#toolbar div.toolbar-menu ul li a.active,
#toolbar div.toolbar-menu ul li.active-trail a {
  background: url(toolbar.png) 0 0 repeat-x;
  text-shadow: #333 0 1px 0;
}

/**
 * Collapsed drawer of additional toolbar content.
 */
#toolbar div.toolbar-drawer {
  position: relative;
  padding: 0 10px;
}

/**
 * IE 6 Fix.
 *
 * IE 6 shows elements with position:fixed as position:static so we replace
 * it with position:absolute; toolbar needs its z-index to stay above overlay.
 */
* html #toolbar {
  left: -20px;
  margin: 0;
  padding-right: 0;
  position: absolute;
  right: 0;
  width: 100%;
}


/*
 * modules/toolbar/toolbar-rtl.css
 */

#toolbar,
#toolbar * {
  text-align: right;
}
#toolbar ul li {
  float: right;
}
#toolbar ul li a {
  display: inline-block;
  float: none;
  zoom: 1;
}
#toolbar div.toolbar-menu {
  padding: 5px 50px 5px 50px;
}
#toolbar-user {
  float: left;
}
#toolbar ul#toolbar-user li {
  float: none;
  display: inline;
}
#toolbar-menu {
  float: none;
}
#toolbar-home {
  float: right;
}
#toolbar ul li.home a {
  position: absolute;
  right: 10px;
}
#toolbar div.toolbar-menu a.toggle {
  left: 10px;
  right: auto;
}
* html #toolbar {
  left: 0;
  padding-left: 0;
}


/*
 * modules/tracker/tracker.css
 */

.page-tracker td.replies {
  text-align: center;
}
.page-tracker table {
  width: 100%;
}


/*
 * modules/update/update.css
 */
/**
 * @file
 * Styles used by the Update Manager module.
 */

.update .project {
  font-weight: bold;
  font-size: 110%;
  padding-left: .25em; /* LTR */
  height: 22px;
}

.update .version-status {
  float: right; /* LTR */
  padding-right: 10px; /* LTR */
  font-size: 110%;
  height: 20px;
}

.update .version-status .icon {
  padding-left: .5em; /* LTR */
}

.update .version-date {
  white-space: nowrap;
}

.update .info {
  margin: 0;
  padding: 1em 1em .25em 1em;
}

.update tr.even,
.update tr.odd {
  border: none;
}

.update tr td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.update tr.error {
  background: #fcc;
}

.update tr.error .version-recommended {
  background: #fdd;
}

.update tr.ok {
  background: #dfd;
}

.update tr.warning {
  background: #ffd;
}

.update tr.warning .version-recommended {
  background: #ffe;
}

.current-version,
.new-version {
  direction: ltr; /* Note: version numbers should always be LTR. */
}

.update tr.unknown {
  background: #ddd;
}

table.update,
.update table.version {
  width: 100%;
  margin-top: .5em;
  border: none;
}

.update table.version tbody {
  border: none;
}

.update table.version tr,
.update table.version td {
  line-height: .9em;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.update table.version .version-title {
  padding-left: 1em; /* LTR */
  width: 14em;
}

.update table.version .version-details {
  padding-right: .5em; /* LTR */
}

.update table.version .version-links {
  text-align: right; /* LTR */
  padding-right: 1em; /* LTR */
}

.update table.version-security .version-title {
  color: #970F00;
}

.update table.version-recommended-strong .version-title {
  font-weight: bold;
}

.update .security-error {
  font-weight: bold;
  color: #970F00;
}

.update .check-manually {
  padding-left: 1em; /* LTR */
}

.update-major-version-warning {
  color: #ff0000;
}

table tbody tr.update-security,
table tbody tr.update-unsupported {
  background: #fcc;
}

th.update-project-name {
  width: 50%;
}



/*
 * modules/update/update-rtl.css
 */
/**
 * @file
 * RTL styles used by the Update Manager module.
 */

.update .project {
  padding-right: .25em;
}

.update .version-status {
  float: left;
  padding-left: 10px;
}

.update .version-status .icon {
  padding-right: .5em;
}

.update table.version .version-title {
  padding-left: 1em;
}

.update table.version .version-details {
  padding-left: .5em;
  direction: ltr;
}

.update table.version .version-links {
  text-align: left;
  padding-left: 1em;
}

.update .check-manually {
  padding-right: 1em;
}


/*
 * modules/user/user.css
 */

#permissions td.module {
  font-weight: bold;
}
#permissions td.permission {
  padding-left: 1.5em; /* LTR */
}
#permissions tr.odd .form-item,
#permissions tr.even .form-item {
  white-space: normal;
}
#user-admin-settings fieldset .fieldset-description {
  font-size: 0.85em;
  padding-bottom: .5em;
}

/**
 * Override default textfield float to put the "Add role" button next to
 * the input textfield.
 */
#user-admin-roles td.edit-name {
  clear: both;
}
#user-admin-roles .form-item-name {
  float: left; /* LTR */
  margin-right: 1em; /* LTR */
}

/**
 * Password strength indicator.
 */
.password-strength {
  width: 17em;
  float: right;  /* LTR */
  margin-top: 1.4em;
}
.password-strength-title {
  display: inline;
}
.password-strength-text {
  float: right; /* LTR */
  font-weight: bold;
}
.password-indicator {
  background-color: #C4C4C4;
  height: 0.3em;
  width: 100%;
}
.password-indicator div {
  height: 100%;
  width: 0%;
  background-color: #47C965;
}
input.password-confirm,
input.password-field {
  width: 16em;
  margin-bottom: 0.4em;
}
div.password-confirm {
  float: right;  /* LTR */
  margin-top: 1.5em;
  visibility: hidden;
  width: 17em;
}
div.form-item div.password-suggestions {
  padding: 0.2em 0.5em;
  margin: 0.7em 0;
  width: 38.5em;
  border: 1px solid #B4B4B4;
}
div.password-suggestions ul {
  margin-bottom: 0;
}
.confirm-parent,
.password-parent {
  clear: left; /* LTR */
  margin: 0;
  width: 36.3em;
}

/* Generated by user.module but used by profile.module: */
.profile {
  clear: both;
  margin: 1em 0;
}
.profile .user-picture {
  float: right; /* LTR */
  margin: 0 1em 1em 0; /* LTR */
}
.profile h3 {
  border-bottom: 1px solid #ccc;
}
.profile dl {
  margin: 0 0 1.5em 0;
}
.profile dt {
  margin: 0 0 0.2em 0;
  font-weight: bold;
}
.profile dd {
  margin: 0 0 1em 0;
}


/*
 * modules/user/user-rtl.css
 */

#permissions td.permission {
  padding-left: 0;
  padding-right: 1.5em;
}

#user-admin-roles .form-item-name {
  float: right;
  margin-left: 1em;
  margin-right: 0;
}

/**
 * Password strength indicator.
 */
.password-strength {
  float: left;
}
.password-strength-text {
  float: left;
}
div.password-confirm {
  float: left;
}
.confirm-parent,
.password-parent {
  clear: right;
}

/* Generated by user.module but used by profile.module: */
.profile .user-picture {
  float: left;
  margin: 0 0 1em 1em;
}
