
// Control whether or not CSS classes come through in the CSS files.

$include-html-classes: true;
$include-print-styles: true;

$include-html-global-classes: false; //$include-html-classes;
$include-html-inline-list-classes: $include-html-classes;
$include-html-type-classes: false; //$include-html-classes;
$include-html-grid-classes: false; //$include-html-classes;
$include-html-visibility-classes: $include-html-classes;
$include-html-button-classes: false; //$include-html-classes;
$include-html-form-classes: $include-html-classes;
$include-html-custom-form-classes: $include-html-classes;
$include-html-media-classes: $include-html-classes;
$include-html-section-classes: $include-html-classes;
$include-html-orbit-classes: $include-html-classes;
$include-html-reveal-classes: $include-html-classes;
$include-html-joyride-classes: $include-html-classes;
$include-html-clearing-classes: $include-html-classes;
$include-html-alert-classes: $include-html-classes;
$include-html-nav-classes: $include-html-classes;
$include-html-top-bar-classes: $include-html-classes;
$include-html-label-classes: $include-html-classes;
$include-html-panel-classes: $include-html-classes;
$include-html-pricing-classes: $include-html-classes;
$include-html-progress-classes: $include-html-classes;
$include-html-magellan-classes: $include-html-classes;
$include-html-tooltip-classes: $include-html-classes;

$include-html-global-plus-classes: $include-html-classes; //++
$include-html-type-plus-classes: $include-html-classes; //++
$include-html-button-plus-classes: $include-html-classes; //++
$include-html-vertical-rhythm-plus-classes: false; // $include-html-classes;



//
//! Foundation Variables
//

// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.
$base-font-size: 14px; //100%;

// $base-line-height is 24px while $base-font-size is 16px
$base-line-height: 22px; //150%;

// This is the default html and body font-size for the base em value.

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be a different size and not have it effect grid size too,
// set the value of $em-base to $base-font-size ($em-base: $base-font-size;)
$em-base: $base-font-size; //16px;

// Change whether or not you include browser prefixes
$experimental: true;

// Various global styles

$default-float: left;

$body-bg: transparent;
$body-font-color: #222;
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

// Font-smoothing

$font-smoothing: antialiased;

// Text direction settings

$text-direction: ltr;

// Colors

$primary-color: #428bca; //#2ba6cb;
$secondary-color: #e9e9e9;
$alert-color: #d9534f; //#c60f13;
$success-color: #5cb85c; //#5da423;
$warning-color: #f0ad4e; //++;
$info-color: #5bc0de; //++;

//@brand-primary:         #428bca;
//@brand-success:         #5cb85c;
//@brand-warning:         #f0ad4e;
//@brand-danger:          #d9534f;
//@brand-info:            #5bc0de;

// Make sure border radius matches unless we want it different.

$global-radius: 4px; //3px;
$global-rounded: 1000px;

// Inset shadow shiny edges and depressions.

$shiny-edge-size: 0 1px 0;
$shiny-edge-color: rgba(#fff, .5);
$shiny-edge-active-color: rgba(#000, .2);

// Cursors

// Custom use example -> $cursor-default-value: url(http://cursors-site.net/path/to/custom/cursor/default.cur),progress;

$cursor-crosshair-value: "crosshair";
$cursor-default-value: "default";
$cursor-pointer-value: "pointer";
$cursor-help-value: "help";



//
//! Typography Variables
//

// Control header font styles

$header-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: 500; //bold;
$header-font-style: normal;
$header-font-color: #222;
$header-line-height: 1.4;
$header-top-margin: .2em;
$header-bottom-margin: .5em;
$header-text-rendering: optimizeLegibility;

// Control header font sizes

$h1-font-size: emCalc(38); //44;
$h2-font-size: emCalc(32); //37
$h3-font-size: emCalc(23); //27
$h4-font-size: emCalc(18); //23
$h5-font-size: emCalc(16); //18
$h6-font-size: emCalc(12); //1em

$h1-vertical-rhythm: 0, 0, 0, 1; // ++
$h2-vertical-rhythm: 1, 0, 0, 1; // ++
$h3-vertical-rhythm: 2, 0, 0, 1; // ++
$h4-vertical-rhythm: 1, 0, 0, 1; // ++
$h5-vertical-rhythm: 1, 0, 0, 0; // ++
$h6-vertical-rhythm: 1, 0, 0, 0; // ++

// Control how subheaders are styled.

$subheader-line-height: 1.4;
$subheader-font-color: lighten($header-font-color, 30%);
$subheader-font-weight: 300;
$subheader-top-margin: .2em;
$subheader-bottom-margin: .5em;

// A general <small> styling

$small-font-size: 60%;
$small-font-color: lighten($header-font-color, 30%);

// Style paragraphs

$paragraph-font-family: inherit;
$paragraph-font-weight: normal;
$paragraph-font-size: 1em;
$paragraph-line-height: 1.6;
$paragraph-margin-bottom: emCalc(20);
$paragraph-aside-font-size: emCalc(14);
$paragraph-aside-line-height: 1.35;
$paragraph-aside-font-style: italic;
$paragraph-text-rendering: optimizeLegibility;

$paragraph-vertical-rhythm: 0, 0, 0, 1; // ++

// Style <code> tags

$code-color: #c7254e; //darken($alert-color, 15%);
$code-font-family: Monaco, Menlo, Consolas, "Courier New", monospace; //Consolas, 'Liberation Mono', Courier, monospace;
$code-font-weight: bold;

/*
@code-color:                  #c7254e;
@code-bg:                     #f9f2f4;
@pre-bg:                      #f5f5f5;
@pre-border-color:            #ccc;
*/

// Style anchors

$anchor-text-decoration: none;
$anchor-font-color: $primary-color;
$anchor-font-color-hover: darken($primary-color, 15%); //darken($primary-color, 5%);

// Style the <hr> element

$hr-border-width: 1px;
$hr-border-style: solid;
$hr-border-color: #ddd;
$hr-margin: emCalc(20);

// Style lists

$list-style-position: outside;
$list-side-margin: 0;
$list-nested-margin: emCalc(20); //emCalc(20);
$definition-list-header-weight: bold;
$definition-list-header-margin-bottom: .3em;
$definition-list-margin-bottom: emCalc(12);

// Style blockquotes

$blockquote-font-color: #999; //lighten($header-font-color, 30%);
$blockquote-padding: emCalc(9, 20, 0, 19);
$blockquote-border: 1px solid #ddd;
$blockquote-cite-font-size: emCalc(13);
$blockquote-cite-font-color: #eee; // lighten($header-font-color, 20%);
$blockquote-cite-link-color: $blockquote-cite-font-color;

// Acronym styles

$acronym-underline: 1px dotted #ddd;

// Control padding and margin

$microformat-padding: emCalc(10, 12);
$microformat-margin: emCalc(0, 0, 20, 0);

// Control the border styles

$microformat-border-width: 1px;
$microformat-border-style: solid;
$microformat-border-color: #ddd;

// Control full name font styles

$microformat-fullname-font-weight: bold;
$microformat-fullname-font-size: emCalc(15);

// Control the summary font styles

$microformat-summary-font-weight: bold;

// Control abbr padding
$microformat-abbr-padding: emCalc(0, 1);

// Control abbr font styles

$microformat-abbr-font-weight: bold;
$microformat-abbr-font-decoration: none;



//
//! Table Variables
//

// These control the background color for the table and even rows

$table-bg: #fff;
$table-even-row-bg: #f9f9f9;

// These control the table cell border style

$table-border-style: solid;
$table-border-size: 1px;
$table-border-color: #ddd;

// These control the table head styles

$table-head-bg: #f5f5f5;
$table-head-font-size: emCalc(14);
$table-head-font-color: #222;
$table-head-font-weight: bold;
$table-head-padding: emCalc(8, 10, 10);

// These control the row padding and font styles

$table-row-padding: emCalc(9, 10);
$table-row-font-size: emCalc(14);
$table-row-font-color: #222;
$table-line-height: emCalc(18);

// These are for controlling the display and margin of tables

$table-display: table-cell;
$table-margin-bottom: emCalc(20);



//
//! Inline List Variables
//

// We use this to control the margins and padding of the inline list.

$inline-list-top-margin: 0;
$inline-list-opposite-margin: 0;
$inline-list-bottom-margin: emCalc(17);
$inline-list-default-float-margin: emCalc(-22);

$inline-list-padding: 0;

// We use this to control the overflow of the inline list.

$inline-list-overflow: hidden;

// We use this to control the list items

$inline-list-display: block;

// We use this to control any elments within list items

$inline-list-children-display: block;



//
//! Label Variables
//

// We use these to style the labels

$label-padding: emCalc(3, 10, 4);
$label-radius: $global-radius;

// We use these to style the label text

$label-font-sizing: emCalc(14);
$label-font-weight: bold;
$label-font-color: #333;
$label-font-color-alt: #fff;



//
//! Keystroke Variables
//

// We use these to control text styles.

$keystroke-font: "Consolas", "Menlo", "Courier", monospace;
$keystroke-font-size: emCalc(14);
$keystroke-font-color: #222;
$keystroke-font-color-alt: #fff;
$keystroke-function-factor: 7%;

// We use this to control keystroke padding.

$keystroke-padding: emCalc(2, 4, 0);

// We use these to control background and border styles.

$keystroke-bg: darken(#fff, $keystroke-function-factor);
$keystroke-border-style: solid;
$keystroke-border-width: 1px;
$keystroke-border-color: darken($keystroke-bg, $keystroke-function-factor);
$keystroke-radius: $global-radius;
