//
//! Button Variables
//

// We use these to build padding for buttons.

// Do not use these! (default vars)
$button-med: emCalc(6); //emCalc(12);
$button-tny: emCalc(3); //emCalc(7);
$button-sml: emCalc(5); //emCalc(9);
$button-lrg: emCalc(10); //emCalc(16);
// Use these custom variables
$button-padding-med: emCalc(6, 12); //++ emCalc(12);
$button-padding-tny: emCalc(3, 5); //++ emCalc(7);
$button-padding-sml: emCalc(5, 10); //++ emCalc(9);
$button-padding-lrg: emCalc(10, 16); //++ emCalc(16);

// We use this to control the display property.

$button-display: inline-block;
$button-margin-bottom: .5em; //emCalc(20);

// We use these to control button text styles.

$button-font-family: inherit;
$button-font-color: #fff;
$button-font-color-alt: #333;
$button-font-med: 1em; //emCalc(16);
$button-font-tny: emCalc(11);
$button-font-sml: emCalc(13);
$button-font-lrg: emCalc(20);
$button-font-weight: 500; //bold;
$button-font-align: center;

// We use these to control various hover effects.

$button-function-factor: 10%;

// We use these to control button border styles.

$button-border-width: 0; //1px;
$button-border-style: none; //solid;
$button-border-color: $primary-color; //++

// We use this to set the default radius used throughout the core.

$button-radius: $global-radius;
$button-round: $global-rounded;

// We use this to set default opacity for disabled buttons.

$button-disabled-opacity: 0.6;



//
//! Button Groups
//

// Sets the margin for the right side by default, and the left margin if right-to-left direction is used

// $button-bar-margin-opposite: emCalc(10);



//
//! Dropdown Button Variables
//

// We use these to set the color of the pip in dropdown buttons

// $dropdown-button-pip-color: #fff;
// $dropdown-button-pip-color-alt: #333;

// We use these to style tiny dropdown buttons

// $dropdown-button-padding-tny: $button-tny * 5;
// $dropdown-button-pip-size-tny: $button-tny;
// $dropdown-button-pip-opposite-tny: $button-tny * 2;
// $dropdown-button-pip-top-tny: -$button-tny / 2 + emCalc(1);

// We use these to style small dropdown buttons

// $dropdown-button-padding-sml: $button-sml * 5;
// $dropdown-button-pip-size-sml: $button-sml;
// $dropdown-button-pip-opposite-sml: $button-sml * 2;
// $dropdown-button-pip-top-sml: -$button-sml / 2 + emCalc(1);

// We use these to style medium dropdown buttons

// $dropdown-button-padding-med: $button-med * 4 + emCalc(3);
// $dropdown-button-pip-size-med: $button-med - emCalc(3);
// $dropdown-button-pip-opposite-med: $button-med * 2;
// $dropdown-button-pip-top-med: -$button-med / 2 + emCalc(2);

// We use these to style large dropdown buttons

// $dropdown-button-padding-lrg: $button-lrg * 4;
// $dropdown-button-pip-size-lrg: $button-lrg - emCalc(6);
// $dropdown-button-pip-opposite-lrg: $button-lrg + emCalc(12);
// $dropdown-button-pip-top-lrg: -$button-lrg / 2 + emCalc(3);



//
//! Split Button Variables
//

// We use these to control different shared styles for Split Buttons

// $split-button-function-factor: 15%;
// $split-button-pip-color: #fff;
// $split-button-pip-color-alt: #333;
// $split-button-active-bg-tint: rgba(0,0,0,0.1);

// We use these to control tiny split buttons

// $split-button-padding-tny: $button-tny * 9;
// $split-button-span-width-tny: $button-tny * 6.5;
// $split-button-pip-size-tny: $button-tny;
// $split-button-pip-top-tny: $button-tny * 2;
// $split-button-pip-default-float-tny: emCalc(-5);

// We use these to control small split buttons

// $split-button-padding-sml: $button-sml * 7;
// $split-button-span-width-sml: $button-sml * 5;
// $split-button-pip-size-sml: $button-sml;
// $split-button-pip-top-sml: $button-sml * 1.5;
// $split-button-pip-default-float-sml: emCalc(-9);

// We use these to control medium split buttons

// $split-button-padding-med: $button-med * 6.4;
// $split-button-span-width-med: $button-med * 4;
// $split-button-pip-size-med: $button-med - emCalc(3);
// $split-button-pip-top-med: $button-med * 1.5;
// $split-button-pip-default-float-med: emCalc(-9);

// We use these to control large split buttons

// $split-button-padding-lrg: $button-lrg * 6;
// $split-button-span-width-lrg: $button-lrg * 3.75;
// $split-button-pip-size-lrg: $button-lrg - emCalc(6);
// $split-button-pip-top-lrg: $button-lrg + emCalc(5);
// $split-button-pip-default-float-lrg: emCalc(-9);
