
//
//! Alert Box Variables
//

// We use this to control alert padding.

// $alert-padding-top: emCalc(11);
// $alert-padding-default-float: $alert-padding-top;
// $alert-padding-opposite-direction: $alert-padding-top + emCalc(10);
// $alert-padding-bottom: $alert-padding-top + emCalc(1);

// We use these to control text style.

// $alert-font-weight: bold;
// $alert-font-size: emCalc(14);
// $alert-font-color: #fff;
// $alert-font-color-alt: darken($secondary-color, 60%);

// We use this for close hover effect.

// $alert-function-factor: 10%;

// We use these to control border styles.

// $alert-border-style: solid;
// $alert-border-width: 1px;
// $alert-border-color: darken($primary-color, $alert-function-factor);
// $alert-bottom-margin: emCalc(20);

// We use these to style the close buttons

// $alert-close-color: #333;
// $alert-close-position: emCalc(5);
// $alert-close-font-size: emCalc(22);
// $alert-close-opacity: 0.3;
// $alert-close-opacity-hover: 0.5;
// $alert-close-padding: 5px 4px 4px;

// We use this to control border radius

// $alert-radius: $global-radius;



//
//! Panel Variables
//

// We use these to control the background and border styles

// $panel-bg: darken(#fff, 5%);
// $panel-border-style: solid;
// $panel-border-size: 1px;

// We use this % to control how much we darken things on hover

// $panel-function-factor: 10%;
// $panel-border-color: darken($panel-bg, $panel-function-factor);

// We use these to set default inner padding and bottom margin

// $panel-margin-bottom: emCalc(20);
// $panel-padding: emCalc(20);

// We use these to set default font colors

// $panel-font-color: #333;
// $panel-font-color-alt: #fff;

// $panel-header-adjust: true;



//
//! Pricing Table Variables
//

// We use this to control the border color

// $price-table-border: solid 1px #ddd;

// We use this to control the bottom margin of the pricing table

// $price-table-margin-bottom: emCalc(20);

// We use these to control the title styles

// $price-title-bg: #ddd;
// $price-title-padding: emCalc(15, 20);
// $price-title-align: center;
// $price-title-color: #333;
// $price-title-weight: bold;
// $price-title-size: emCalc(16);

// We use these to control the price styles

// $price-money-bg: #eee;
// $price-money-padding: emCalc(15, 20);
// $price-money-align: center;
// $price-money-color: #333;
// $price-money-weight: normal;
// $price-money-size: emCalc(20);

// We use these to control the description styles

// $price-bg: #fff;
// $price-desc-color: #777;
// $price-desc-padding: emCalc(15);
// $price-desc-align: center;
// $price-desc-font-size: emCalc(12);
// $price-desc-weight: normal;
// $price-desc-line-height: 1.4;
// $price-desc-bottom-border: dotted 1px #ddd;

// We use these to control the list item styles

// $price-item-color: #333;
// $price-item-padding: emCalc(15);
// $price-item-align: center;
// $price-item-font-size: emCalc(14);
// $price-item-weight: normal;
// $price-item-bottom-border: dotted 1px #ddd;

// We use these to control the CTA area styles

// $price-cta-bg: #f5f5f5;
// $price-cta-align: center;
// $price-cta-padding: emCalc(20, 20, 0);



//
//! Progress Bar Variables
//

// We use this to se the prog bar height

// $progress-bar-height: emCalc(25);
// $progress-bar-color: transparent;

// We use these to control the border styles

// $progress-bar-border-color: darken(#fff, 20%);
// $progress-bar-border-size: 1px;
// $progress-bar-border-style: solid;
// $progress-bar-border-radius: $global-radius;

// We use these to control the margin & padding

// $progress-bar-pad: emCalc(2);
// $progress-bar-margin-bottom: emCalc(10);

// We use these to set the meter colors

// $progress-meter-color: $primary-color;
// $progress-meter-secondary-color: $secondary-color;
// $progress-meter-success-color: $success-color;
// $progress-meter-alert-color: $alert-color;



//
//! Image Thumbnail Variables
//

// We use these to control border styles

// $thumb-border-style: solid;
// $thumb-border-width: 4px;
// $thumb-border-color: #fff;
// $thumb-box-shadow: 0 0 0 1px rgba(#000,.2);
// $thumb-box-shadow-hover: 0 0 6px 1px rgba($primary-color,0.5);

// Radius and transition speed for thumbs

// $thumb-radius: $global-radius;
// $thumb-transition-speed: 200ms;
