
//
//! Form Variables
//

// We use this to set the base for lots of form spacing and positioning styles

$form-spacing: emCalc(10); //emCalc(16);

// We use these to style the labels in different ways

// $form-label-pointer: pointer;
// $form-label-font-size: emCalc(14);
// $form-label-font-weight: 500;
// $form-label-font-color: lighten(#000, 30%);
// $form-label-bottom-margin: emCalc(3);
// $input-font-family: inherit;
// $input-font-color: rgba(0,0,0,0.75);
$input-font-size: inherit; //emCalc(14);
// $input-bg-color: #fff;
// $input-focus-bg-color: darken(#fff, 2%);
// $input-border-color: darken(#fff, 20%);
// $input-focus-border-color: darken(#fff, 40%);
// $input-border-style: solid;
// $input-border-width: 1px;
// $input-disabled-bg: #ddd;
// $input-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
// $input-include-glowing-effect: true;

// We use these to style the fieldset border and spacing.

// $fieldset-border-style: solid;
// $fieldset-border-width: 1px;
// $fieldset-border-color: #ddd;
// $fieldset-padding: emCalc(20);
// $fieldset-margin: emCalc(18, 0);

// We use these to style the legends when you use them

// $legend-bg: #fff;
// $legend-font-weight: bold;
// $legend-padding: emCalc(0, 3);

// We use these to style the prefix and postfix input elements

// $input-prefix-bg: darken(#fff, 5%);
// $input-prefix-border-color: darken(#fff, 20%);
// $input-prefix-border-size: 1px;
// $input-prefix-border-type: solid;
// $input-prefix-overflow: hidden;
// $input-prefix-font-color: #333;
// $input-prefix-font-color-alt: #fff;

// We use these to style the error states for inputs and labels

// $input-error-message-padding: emCalc(6, 4);
// $input-error-message-top: 0;
// $input-error-message-font-size: emCalc(12);
// $input-error-message-font-weight: bold;
// $input-error-message-font-color: #fff;
// $input-error-message-font-color-alt: #333;

// We use this to style the glowing effect of inputs when focused

// $glowing-effect-fade-time: 0.45s;
// $glowing-effect-color: $input-focus-border-color;



//
//! Custom Form Variables
//

// We use these to control the basic form styles input styles

// $custom-form-border-color: #ccc;
// $custom-form-border-size: 1px;
// $custom-form-bg: #fff;
// $custom-form-bg-disabled: #ddd;
// $custom-form-input-size: 16px;
// $custom-form-check-color: #222;
// $custom-form-check-size: 16px;
// $custom-form-radio-size: 8px;
// $custom-form-checkbox-radius: 0px;

// We use these to style the custom select form element.

// $custom-select-bg: #fff;
// $custom-select-fade-to-color: #f3f3f3;
// $custom-select-border-color: #ddd;
// $custom-select-triangle-color: #aaa;
// $custom-select-triangle-color-open: #222;
// $custom-select-height: emCalc(13) + ($form-spacing * 1.5);
// $custom-select-margin-bottom: emCalc(20);
// $custom-select-font-color-selected: #141414;
// $custom-select-disabled-color: #888;

// We use these to control the style of the custom select dropdown element.

// $custom-dropdown-height: 200px;
// $custom-dropdown-bg: #fff;
// $custom-dropdown-border-color: darken(#fff, 20%);
// $custom-dropdown-border-width: 1px;
// $custom-dropdown-border-style: solid;
// $custom-dropdown-font-color: #555;
// $custom-dropdown-font-size: emCalc(14);
// $custom-dropdown-color-selected: #eeeeee;
// $custom-dropdown-font-color-selected: #000;
// $custom-dropdown-shadow: 0 2px 2px 0px rgba(0,0,0,0.1);
// $custom-dropdown-offset-top: auto;
// $custom-dropdown-list-padding: emCalc(4);
// $custom-dropdown-default-float-padding: emCalc(6);
// $custom-dropdown-opposite-padding: emCalc(38);
// $custom-dropdown-list-item-min-height: emCalc(24);
// $custom-dropdown-width-small: 134px;
// $custom-dropdown-width-medium: 254px;
// $custom-dropdown-width-large: 434px;



//
//! Switch Variables
//

// Controlling border styles and background colors for the switch container

// $switch-border-color: darken(#fff, 20%);
// $switch-border-style: solid;
// $switch-border-width: 1px;
// $switch-bg: #fff;

// We use these to control the switch heights for our default classes

// $switch-height-tny: 22px;
// $switch-height-sml: 28px;
// $switch-height-med: 36px;
// $switch-height-lrg: 44px;
// $switch-bottom-margin: emCalc(20);

// We use these to control default font sizes for our classes.

// $switch-font-size-tny: 11px;
// $switch-font-size-sml: 12px;
// $switch-font-size-med: 14px;
// $switch-font-size-lrg: 17px;
// $switch-label-side-padding: 6px;

// We use these to style the switch-paddle

// $switch-paddle-bg: #fff;
// $switch-paddle-fade-to-color: darken($switch-paddle-bg, 10%);
// $switch-paddle-border-color: darken($switch-paddle-bg, 35%);
// $switch-paddle-border-width: 1px;
// $switch-paddle-border-style: solid;
// $switch-paddle-transition-speed: .1s;
// $switch-paddle-transition-ease: ease-out;
// $switch-positive-color: lighten($success-color, 50%);
// $switch-negative-color: #f5f5f5;

// Outline Style for tabbing through switches

// $switch-label-outline: 1px dotted #888;