//
//! Media Queries
//
$small-screen: 768px;
$medium-screen: 1280px;
$large-screen: 1440px;

$screen: "only screen";
$small: "only screen and (min-width: #{$small-screen})";
$medium: "only screen and (min-width: #{$medium-screen})";
$large: "only screen and (min-width: #{$large-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";



//
//! Bourbon Neat Grid Variables
//

$column: golden-ratio(1em, 3); // Column width
$gutter: golden-ratio(1em, 1); // Gutter between each two columns
$grid-columns: 12; //12; // Total number of columns in the grid
$max-width: em(960); //em(1088); // Max-width of the outer container
//$border-box-sizing: true; // Makes all elements have a border-box layout
//$default-feature: min-width; // Default @media feature for the breakpoint() mixin
//$default-layout-direction: LTR;

$visual-grid: false; // Display the base grid
//$visual-grid-color: #EEE;
//$visual-grid-index: back; // Show grid behind content (back) or overlay it over the content (front)
//$visual-grid-opacity: 0.4;
//$visual-grid-breakpoints: ();

$zero-breakpoint: new-breakpoint(min-width 10px 4);
$small-breakpoint: new-breakpoint(min-width $small-screen 9);
$medium-breakpoint: new-breakpoint(min-width $medium-screen 12);
$large-breakpoint: new-breakpoint(min-width $large-screen 12);



//
//! Grid Variables
//

// We use Bourboun Neat grid system, so we overide these Fondation variables
$row-width: $max-width; //emCalc(1000);
$column-gutter: $gutter; //emCalc(30);
$total-columns: $grid-columns; //12;



//
//! Block Grid Variables
//

// We use this to control the maximum number of block grid elements per row

$block-grid-elements: 12;
$block-grid-default-spacing: emCalc(20);

// Enables media queries for block-grid classes. Set to false if writing semantic HTML.

$block-grid-media-queries: true;