//
//! Clearing Variables
//

// We use these to set the background colors for parts of Clearing.

// $clearing-bg: #111;
// $clearing-caption-bg: $clearing-bg;
// $clearing-carousel-bg: #111;
// $clearing-img-bg: $clearing-bg;

// We use these to style the close button

// $clearing-close-color: #fff;
// $clearing-close-size: 40px;

// We use these to style the arrows

// $clearing-arrow-size: 16px;
// $clearing-arrow-color: $clearing-close-color;

// We use these to style captions

// $clearing-caption-font-color: #fff;
// $clearing-caption-padding: 10px 30px;

// We use these to make the image and carousel height and style

// $clearing-active-img-height: 75%;
// $clearing-carousel-height: 150px;
// $clearing-carousel-thumb-width: 175px;
// $clearing-carousel-thumb-active-border: 4px solid rgb(255,255,255);



//
//! Dropdown Variables
//

// We use these to controls height and width styles.

// $f-dropdown-max-width: 200px;
// $f-dropdown-height: auto;
// $f-dropdown-max-height: none;
// $f-dropdown-margin-top: 2px;

// We use this to control the background color

// $f-dropdown-bg: #fff;

// We use this to set the border styles for dropdowns.

// $f-dropdown-border-style: solid;
// $f-dropdown-border-width: 1px;
// $f-dropdown-border-color: darken(#fff, 20%);

// We use these to style the triangle pip.

// $f-dropdown-triangle-size: 6px;
// $f-dropdown-triangle-color: #fff;
// $f-dropdown-triangle-side-offset: 10px;

// We use these to control styles for the list elements.

// $f-dropdown-list-style: none;
// $f-dropdown-font-color: #555;
// $f-dropdown-font-size: emCalc(14);
// $f-dropdown-list-padding: emCalc(5, 10);
// $f-dropdown-line-height: emCalc(18);
// $f-dropdown-list-hover-bg: #eeeeee;
// $dropdown-mobile-default-float: 0;

// We use this to control the styles for when the dropdown has custom content.

// $f-dropdown-content-padding: emCalc(20);



//
//! Flex Video Variables
//

// We use these to control video container padding and margins

// $flex-video-padding-top: emCalc(25);
// $flex-video-padding-bottom: 67.5%;
// $flex-video-margin-bottom: emCalc(16);

// We use this to control widescreen bottom padding

// $flex-video-widescreen-padding-bottom: 57.25%;



//
//! Joyride Variables
//

// Controlling default Joyride styles

// $joyride-tip-bg: rgb(0,0,0);
// $joyride-tip-default-width: 300px;
// $joyride-tip-padding: emCalc(18, 20, 24);
// $joyride-tip-border: solid 1px #555;
// $joyride-tip-radius: 4px;
// $joyride-tip-position-offset: 22px;

// Here, we're setting the tip dont styles

// $joyride-tip-font-color: #fff;
// $joyride-tip-font-size: emCalc(14);
// $joyride-tip-header-weight: bold;

// This changes the nub size

// $joyride-tip-nub-size: 14px;

// This adjusts the styles for the timer when its enabled

// $joyride-tip-timer-width: 50px;
// $joyride-tip-timer-height: 3px;
// $joyride-tip-timer-color: #666;

// This changes up the styles for the close button

// $joyride-tip-close-color: #777;
// $joyride-tip-close-size: 30px;
// $joyride-tip-close-weight: normal;

// When Joyride is filling the screen, we use this style for the bg

// $joyride-screenfill: rgba(0,0,0,0.5);



//
//! Magellan Variables
//

// $magellan-bg: #fff;
// $magellan-padding: 10px;



//
//! Orbit Settings
//

// We use these to control the caption styles

// $orbit-container-bg: #f5f5f5;
// $orbit-caption-bg-old: rgb(0,0,0);
// $orbit-caption-bg: rgba(0,0,0,0.6);
// $orbit-caption-font-color: #fff;

// We use these to control the left/right nav styles

// $orbit-nav-bg-old: rgb(0,0,0);
// $orbit-nav-bg: rgba(0,0,0,0.6);

// We use these to control the timer styles

// $orbit-timer-bg-old: rgb(0,0,0);
// $orbit-timer-bg: rgba(0,0,0,0.6);

// We use these to control the bullet nav styles

// $orbit-bullet-nav-color: #999;
// $orbit-bullet-nav-color-active: #555;

// We use thes to controls the style of slide numbers

// $orbit-slide-number-bg: rgba(0,0,0,0);
// $orbit-slide-number-font-color: #fff;
// $orbit-slide-number-padding: emCalc(5px);

// Graceful Loading Wrapper and preloader

// $wrapper-class: "slideshow-wrapper";
// $preloader-class: "preloader";



//
//! Reveal Variables
//

// We use these to control the style of the reveal overlay.

// $reveal-overlay-bg: rgba(#000, .45);
// $reveal-overlay-bg-old: #000;

// We use these to control the style of the modal itself.

// $reveal-modal-bg: #fff;
// $reveal-position-top: 50px;
// $reveal-default-width: 80%;
// $reveal-modal-padding: emCalc(20);
// $reveal-box-shadow: 0 0 10px rgba(#000,.4);

// We use these to style the reveal close button

// $reveal-close-font-size: emCalc(22);
// $reveal-close-top: emCalc(8);
// $reveal-close-side: emCalc(11);
// $reveal-close-color: #aaa;
// $reveal-close-weight: bold;

// We use these to control the modal border

// $reveal-border-style: solid;
// $reveal-border-width: 1px;
// $reveal-border-color: #666;

// $reveal-modal-class: "reveal-modal";
// $close-reveal-modal-class: "close-reveal-modal";



//
//! Section Variables
//

// We use these to set padding and hover factor

// $section-title-padding: emCalc(15);
// $section-content-padding: emCalc(15);
// $section-function-factor: 10%;

// These style the titles

// $section-title-color: #333;
// $section-title-color-active: #333;
// $section-title-bg: #efefef;
// $section-title-bg-active: darken($section-title-bg, $section-function-factor);
// $section-title-bg-active-tabs: #fff;
// $section-title-bg-hover: darken($section-title-bg, $section-function-factor / 2);

// Want to control border size, here ya go!

// $section-border-size: 1px;
// $section-border-style: solid;
// $section-border-color: #ccc;

// Font controls

// $section-font-size: emCalc(14);

// Control the color of the background and some size options

// $section-content-bg: #fff;
// $section-vertical-nav-min-width: emCalc(200);
// $section-vertical-tabs-title-width: emCalc(200);
// $section-bottom-margin: emCalc(20);

// $title-selector: ".title";
// $content-selector: ".content";
// $active-region-selector: ".active";



//
//! Tooltip Variables
//

// $has-tip-border-bottom: dotted 1px #ccc;
// $has-tip-font-weight: bold;
// $has-tip-font-color: #333;
// $has-tip-border-bottom-hover: dotted 1px darken($primary-color, 20%);
// $has-tip-font-color-hover: $primary-color;
// $has-tip-cursor-type: help;

// $tooltip-padding: emCalc(8);
// $tooltip-bg: #000;
// $tooltip-font-size: emCalc(15);
// $tooltip-font-weight: bold;
// $tooltip-font-color: #fff;
// $tooltip-line-height: 1.3;
// $tooltip-close-font-size: emCalc(10);
// $tooltip-close-font-weight: normal;
// $tooltip-close-font-color: #888;
// $tooltip-font-size-sml: emCalc(14);
// $tooltip-radius: $global-radius;
// $tooltip-pip-size: 5px;

