//
//! Breadcrumb Variables
//

// We use this to set the background color for the breadcrumb container.

$crumb-bg: transparent; //lighten($secondary-color, 5%);

// We use these to set the padding around the breadcrumbs.

$crumb-padding: 0; //emCalc(9, 14, 9);
$crumb-side-padding: emCalc(8); //emCalc(12);

// We use these to control border styles.

// $crumb-function-factor: 10%;
$crumb-border-size: 0; //1px;
$crumb-border-style: none; //solid;
$crumb-border-color: transparent; //darken($crumb-bg, $crumb-function-factor);
$crumb-radius: 0; //$global-radius;

// We use these to set various text styles for breadcrumbs.

$crumb-font-size: emCalc(13); //emCalc(11);
$crumb-font-color: $primary-color;
$crumb-font-color-current: #333;
$crumb-font-color-unavailable: #999;
$crumb-font-transform: inherit; //uppercase;
$crumb-link-decor: underline;

// We use these to control the slash between breadcrumbs

$crumb-slash-color: #aaa;
$crumb-slash: "/";



//
//! Pagination Variables
//

// We use these to control the pagination container

// $pagination-height: emCalc(24);
// $pagination-margin: emCalc(-5);

// We use these to set the list-item properties

// $pagination-li-float: $default-float;
// $pagination-li-height: emCalc(24);
// $pagination-li-font-color: #222;
// $pagination-li-font-size: emCalc(14);
// $pagination-li-margin: emCalc(5);

// We use these for the pagination anchor links

// $pagination-link-pad: emCalc(1, 7, 1);
// $pagination-link-font-color: #999;
// $pagination-link-active-bg: darken(#fff, 10%);

// We use these for disabled anchor links

// $pagination-link-unavailable-cursor: default;
// $pagination-link-unavailable-font-color: #999;
// $pagination-link-unavailable-bg-active: transparent;

// We use these for currently selected anchor links

// $pagination-link-current-background: $primary-color;
// $pagination-link-current-font-color: #fff;
// $pagination-link-current-font-weight: bold;
// $pagination-link-current-cursor: default;
// $pagination-link-current-active-bg: $primary-color;



//
//! Side Nav Variables
//

// We use this to control padding.

// $side-nav-padding: emCalc(14, 0);

// We use these to control list styles.

// $side-nav-list-type: none;
// $side-nav-list-position: inside;
// $side-nav-list-margin: emCalc(0, 0, 7, 0);

// We use these to control link styles.

// $side-nav-link-color: $primary-color;
// $side-nav-link-color-active: lighten(#000, 30%);
// $side-nav-font-size: emCalc(14);
// $side-nav-font-weight: bold;

// We use these to control border styles

// $side-nav-divider-size: 1px;
// $side-nav-divider-style: solid;
// $side-nav-divider-color: darken(#fff, 10%);



//
//! Sub Nav Variables
//

// We use these to control margin and padding

// $sub-nav-list-margin: emCalc(-4, 0, 18);
// $sub-nav-list-padding-top: emCalc(4);

// We use this to control the definition

// $sub-nav-font-size: emCalc(14);
// $sub-nav-font-color: #999;
// $sub-nav-font-weight: normal;
// $sub-nav-text-decoration: none;
// $sub-nav-border-radius: 1000px;

// We use these to control the active item styles

// $sub-nav-active-font-weight: bold;
// $sub-nav-active-bg: $primary-color;
// $sub-nav-active-color: #fff;
// $sub-nav-active-padding: emCalc(3, 9);
// $sub-nav-active-cursor: default;



//
//! Top Bar Variables
//

// Background color for the top bar

// $topbar-bg: #111;

// Height and margin

// $topbar-height: 45px;
// $topbar-margin-bottom: emCalc(30);

// Control Input height for top bar

// $topbar-input-height: 2.45em;

// Controlling the styles for the title in the top bar

// $topbar-title-weight: bold;
// $topbar-title-font-size: emCalc(17);

// Style the top bar dropdown elements

// $topbar-dropdown-bg: #222;
// $topbar-dropdown-link-color: #fff;
// $topbar-dropdown-link-bg: lighten($topbar-bg, 5%);
// $topbar-dropdown-toggle-size: 5px;
// $topbar-dropdown-toggle-color: #fff;
// $topbar-dropdown-toggle-alpha: 0.5;

// Set the link colors and styles for top-level nav

// $topbar-link-color: #fff;
// $topbar-link-color-hover: #fff;
// $topbar-link-color-active: #fff;
// $topbar-link-weight: bold;
// $topbar-link-font-size: emCalc(13);
// $topbar-link-hover-lightness: -30%; // Darken by 30%
// $topbar-link-bg-hover: darken($topbar-bg, 3%);
// $topbar-link-bg-active: darken($topbar-bg, 3%);

// $topbar-dropdown-label-color: #555;
// $topbar-dropdown-label-text-transform: uppercase;
// $topbar-dropdown-label-font-weight: bold;
// $topbar-dropdown-label-font-size: emCalc(10);

// Top menu icon styles

// $topbar-menu-link-transform: uppercase;
// $topbar-menu-link-font-size: emCalc(13);
// $topbar-menu-link-weight: bold;
// $topbar-menu-link-color: #fff;
// $topbar-menu-icon-color: #fff;
// $topbar-menu-link-color-toggled: #888;
// $topbar-menu-icon-color-toggled: #888;

// Transitions and breakpoint styles

// $topbar-transition-speed: 300ms;
// $topbar-breakpoint: emCalc(940); // Change to 9999px for always mobile layout
// $topbar-media-query: "only screen and (min-width: #{$topbar-breakpoint})";

// Divider Styles

// $topbar-divider-border-bottom: solid 1px lighten($topbar-bg, 10%);
// $topbar-divider-border-top: solid 1px darken($topbar-bg, 10%);

// Sticky Class

// $topbar-sticky-class: ".sticky";

